<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Domain.Properties.Settings.AsdLyncConnectionString"
            connectionString="Data Source=10.10.0.95;Initial Catalog=AsdLync;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
        <add name="Asd.Award.Domain.Properties.Settings.AsdLyncConnectionString"
            connectionString="Data Source=10.10.0.95;Initial Catalog=AsdLync;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>