<?xml version="1.0" encoding="utf-8"?>
<configuration>

<connectionStrings><add name="TM_SaaS_OA_EFModelContext" connectionString="metadata=res://*/TM_SaaS_OA_EFModel.csdl|res://*/TM_SaaS_OA_EFModel.ssdl|res://*/TM_SaaS_OA_EFModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=smt123456;persistsecurityinfo=True;database=tmoa&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>