<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.ConnectionString" connectionString="Data Source=smtsaasdb;Persist Security Info=True;User ID=smtfb;Password=smtfb872590;Unicode=True"
            providerName="System.Data.OracleClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
