<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.ConnectionString" connectionString="Data Source=hxbak;Persist Security Info=True;User ID=smtfb;Password=oracle;Unicode=True"
            providerName="System.Data.OracleClient" />
    </connectionStrings>
</configuration>