<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SMT_Platform_EFModelContext" 
         connectionString="metadata=res://*/SMT_PlatformEFModel.csdl|res://*/SMT_Platform_EFModel.ssdl|res://*/SMT_Platform_EFModel.msl;provider=EFOracleProvider;provider connection string=&quot;data source=smtsaasdb;user id=smtportal;password=smtportal&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>