<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="clockIp" value="10.10.4.253,10.10.23.2,10.10.8.253"/>
    <add key="newDevice" value="10.10.8.253,10.10.16.254"/>
    <!--cafdca8a-c630-4475-a65d-490d052dca36(10.10.4.253)王力所在公司，测试用-->
    <add key="companyID" value="cafdca8a-c630-4475-a65d-490d052dca36(10.10.4.253),bac05c76-0f5b-40ae-b73b-8be541ed35ed(10.10.4.253),703dfb3c-d3dc-4b1d-9bf0-3507ba01b716(10.10.23.2),72b3f128-6cf0-498c-8e70-89d0d66403f2;142e5b31-4596-4a90-9be6-e422c9784810(10.10.8.253),3cd50b8b-8288-465b-826f-58d1dbe43464(10.10.16.254)" />
  </appSettings>
  <connectionStrings>
    <add name="DB"  connectionString="data source=smtsaasdb;User Id=smthrm;Password=smthrm880122;Integrated Security=no;"/>
    <!--<add name="DB"  connectionString="data source=smtsaas94;User Id=smthrm;Password=test;Integrated Security=no;"/>-->
    <!--<add name="DB"  connectionString="data source=bj209;User Id=smthrm;Password=oracle;Integrated Security=no;"/>-->
    <!--<add name="DB"  connectionString="data source=HuNanHangX;User Id=smthrm;Password=oracle;Integrated Security=no;"/>-->
  </connectionStrings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_AttendanceService" closeTimeout="01:00:59"
                    openTimeout="01:00:59" receiveTimeout="01:00:59" sendTimeout="01:00:59" />
                <binding name="BasicHttpBinding_SalaryService" closeTimeout="01:00:59"
                    openTimeout="01:00:59" receiveTimeout="01:00:59" sendTimeout="01:00:59" />
            </basicHttpBinding>
            <customBinding>
                <binding name="CustomBinding_OrganizationService">
                    <binaryMessageEncoding />
                    <httpTransport />
                </binding>
                <binding name="CustomBinding_SmtOACommonOffice">
                    <binaryMessageEncoding />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://portal.smt-online.net/New/Services/HR/AttendanceService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_AttendanceService"
                contract="AttendWS.AttendanceService" name="BasicHttpBinding_AttendanceService" />
          <!--<endpoint address="http://localhost:12168/AttendanceService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_AttendanceService"
                contract="AttendWS.AttendanceService" name="BasicHttpBinding_AttendanceService" />-->
            <endpoint address="http://localhost:12168/SalaryService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_SalaryService"
                contract="SalaryWS.SalaryService" name="BasicHttpBinding_SalaryService" />
            <endpoint address="http://portal.smt-online.net/New/Services/HR/OrganizationService.svc"
                binding="customBinding" bindingConfiguration="CustomBinding_OrganizationService"
                contract="OrgWs.OrganizationService" name="CustomBinding_OrganizationService" />
            <endpoint address="http://portal.smt-online.net/New/Services/OA/SmtOACommonOffice.svc"
                binding="customBinding" bindingConfiguration="CustomBinding_SmtOACommonOffice"
                contract="OACommonOfficeWS.SmtOACommonOffice" name="CustomBinding_SmtOACommonOffice" />
        </client>
    </system.serviceModel>
</configuration>