<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings />

  <connectionStrings>
      <!--旧的流程-->
      <!--<add name="WorkFlowConnString" connectionString="oracle:data source=Test;user id=smtflow;password=smtflow;"/>-->
      <!--新的流程-->
      <!--<add name="WorkFlowConnString" connectionString="oracle:data source=SMTSAASDB209 ;user id=smtwf;password=smtwf;"/>-->
      <add name="WorkFlowConnString" providerName="System.Data.OracleClient" connectionString="Data Source=smtsaasdb209;user id=smtwf;password=smtwf;"/>
      <!--开发平台-->
      <!--<add name="WorkFlowConnString" providerName="System.Data.OracleClient" connectionString="Data Source=smtsaasdb209;user id=smtwf;password=smtwf;"/>-->
      
  </connectionStrings>


  <system.web>
    <!--传输数据量大的时候要设置这里<102400KB>-->
    <httpRuntime maxRequestLength="2097151"/>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="customBinding">
          <binaryMessageEncoding>
            <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647" maxDepth="64"/>
          </binaryMessageEncoding>
          <httpTransport maxReceivedMessageSize="2147483647">
          </httpTransport>
        </binding>
      </customBinding>
      <basicHttpBinding>
        <binding
                name="basicBinding"
                maxBufferSize="2147483647"
                maxBufferPoolSize="2147483647"
                maxReceivedMessageSize="2147483647"
                messageEncoding="Text" transferMode="Buffered" sendTimeout="00:10:00" >
          <!--如果使用Silverlight客户端，部分属性如ReaderQuotas并不被支持。-->
          <readerQuotas
              maxDepth="64"
              maxStringContentLength="2147483647"
              maxArrayLength="2147483647"
              maxBytesPerRead="2147483647"
              maxNameTableCharCount="2147483647" />
        </binding>

      </basicHttpBinding>
    </bindings>
    <services>
      <!--   
              <service>配置节包含name和behaviorConfiguration属性。其中，
              name:配置了实现Service Contract的类型名。类型名必须是完整地包含了命名空间和类型名。
              behaviorConfiguration:配置值则与其后的<behaviors>
               配置节的内容有关。<endpoint>  是<service>
              配置节的主体，其中，<endpoint>
              配置节包含了endpoint的三个组成部分：Address、Binding和Contract。由于具体的binding配置是在<bindings>
               配置节中完成，因而，在<endpoint>
                中配置了bindingConfiguration属性，指向具体的binding配置
                -->
      <service behaviorConfiguration="SampleBehavior"  name="SMT.Workflow.Platform.Services.PlatformServices">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicBinding"  contract="SMT.Workflow.Platform.Services.PlatformInterface.IFlowDefine" />
        <endpoint address=""
              binding="basicHttpBinding" bindingConfiguration="basicBinding"
              contract="SMT.Workflow.Platform.Services.PlatformInterface.ICuostomFlowsDefine" name="BasicHttpBinding_ICuostomFlowsDefine" />
        <endpoint address=""
          binding="basicHttpBinding" bindingConfiguration="basicBinding"
          contract="SMT.Workflow.Platform.Services.PlatformInterface.IFlowEvent" name="BasicHttpBinding_IFlowEvent" />
        <endpoint address=""
          binding="basicHttpBinding" bindingConfiguration="basicBinding"
          contract="SMT.Workflow.Platform.Services.PlatformInterface.IFlowCategory" name="BasicHttpBinding_IFlowCategory" />
        <endpoint address=""
          binding="basicHttpBinding" bindingConfiguration="basicBinding"
          contract="SMT.Workflow.Platform.Services.PlatformInterface.IEngine" name="BasicHttpBinding_IEngine" />
        <endpoint address=""
          binding="basicHttpBinding" bindingConfiguration="basicBinding"
          contract="SMT.Workflow.Platform.Services.PlatformInterface.IFlowXmlDefine" name="BasicHttpBinding_IFlowXmlDefine" />
        <endpoint address=""
          binding="basicHttpBinding" bindingConfiguration="basicBinding"
          contract="SMT.Workflow.Platform.Services.PlatformInterface.IFlowTrigger" name="BasicHttpBinding_IFlowTrigger" />
        <endpoint address=""
          binding="basicHttpBinding" bindingConfiguration="basicBinding"
          contract="SMT.Workflow.Platform.Services.PlatformInterface.ITriggerDefine" name="BasicHttpBinding_ITriggerDefine" />
        <endpoint address=""
          binding="basicHttpBinding" bindingConfiguration="basicBinding"
          contract="SMT.Workflow.Platform.Services.PlatformInterface.IFlow_ModelDefine" name="BasicHttpBinding_IFlow_ModelDefine" />
        <endpoint address=""
           binding="basicHttpBinding" bindingConfiguration="basicBinding"
            contract="SMT.Workflow.Platform.Services.PlatformInterface.IMessageBodyDefine" name="BasicHttpBinding_IMessageBodyDefine" />
        <endpoint address=""
           binding="basicHttpBinding" bindingConfiguration="basicBinding"
           contract="SMT.Workflow.Platform.Services.PlatformInterface.IDoTaskRule" name="BasicHttpBinding_IDoTaskRule" />
        <endpoint address=""
         binding="basicHttpBinding" bindingConfiguration="basicBinding"
         contract="SMT.Workflow.Platform.Services.PlatformInterface.ITimingTrigger" name="BasicHttpBinding_ITimingTrigger" />
        <endpoint address=""
       binding="basicHttpBinding" bindingConfiguration="basicBinding"
       contract="SMT.Workflow.Platform.Services.PlatformInterface.IDefaultMessage" name="BasicHttpBinding_IDefaultMessage" />

          
          <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="SampleBehavior">
          <!--httpGetEnabled - 使用get方式提供服务-->
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>

        </behavior>


        <behavior>
          <!-- 为避免泄漏元数据信息，请在部署前将以下值设置为 false 并删除上面的元数据终结点 -->
          <serviceMetadata httpGetEnabled="true"/>

          <!-- 要接收故障异常详细信息以进行调试，请将以下值设置为 true。在部署前设置为 false 以避免泄漏异常信息 -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>

      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="SampleBehavior">

          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
    <system.net>
        <settings>
            <servicePointManager expect100Continue="false" />
        </settings>
    </system.net>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

</configuration>




