<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="Data Source=smtsaasdb;User Id=smthrm;Password=smthrm;Integrated Security=no;"/>
  </appSettings>
  <connectionStrings>   
    <add name="SMT_System_EFModelContext"
   connectionString="provider=EFOracleProvider;
   metadata=res://*/SMT_System_EFModel.csdl|res://*/SMT_System_EFModel.ssdl|res://*/SMT_System_EFModel.msl;
   Provider Connection String='data source=smtsaasdb;user id=smtsystem;password=smtsystem'"
  providerName="System.Data.EntityClient" />
    
  </connectionStrings>
</configuration>