<?xml version="1.0"?>

<configuration>
  <connectionStrings>
    <add name="WorkFlowConnString" connectionString="oracle:data source=SMTSAASDB;user id=testdb;password=testdb;"/>
  </connectionStrings>
    <system.serviceModel>
        <bindings/>
        <client/>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
