<?xml version="1.0"?>
<!--
    注意: 除了手动编辑此文件以外， 
    
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
     <sectionGroup name="enyim.com">
            <section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />
        </sectionGroup>
        <section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />
  </configSections>
  <enyim.com>
        <memcached>
            <servers>
                <!-- put your own server(s) here-->
                <add address="127.0.0.1" port="11211" />
                
            </servers>
            <socketPool minPoolSize="10" maxPoolSize="100" connectionTimeout="00:00:10" deadTimeout="00:02:00" />
        </memcached>
    </enyim.com>
  <memcached keyTransformer="Enyim.Caching.TigerHashTransformer, Enyim.Caching">
        <servers>
            <add address="127.0.0.1" port="11211" />
            
        </servers>
        <socketPool minPoolSize="2" maxPoolSize="100" connectionTimeout="00:10:00" deadTimeout="00:02:00" />
    </memcached>
  <appSettings>
    <add key="UploadFolder" value="UpLoadFiles"/>
    <!-- 报批-->
    <!-- SaaS DAL configuration settings. Possible values: SMT.Foundation.DALSqlServer for SqlServer, SMT.Foundation.DALOracle for Oracle. -->
    <add key="DataBaseType" value="Oracle"/>
    <add key="DALAssemblyPath" value="SMT_OA_EFModel"/>
    <add key="DBContextName" value="SMT_OA_EFModelContext"/>
    <add key="EngineFuncWSSite" value="http://10.10.0.93:8080/New/services/OA/EngineTriggerService.svc"/>
    <!--ErrorLog配置开始 xml日志记录：XMLLogger,数据库日志记录：DBLogger,文本日志记录：TXTLogger-->
    <add key="LoggerProvider" value="XMLLogger" />
    <add key="LogRetrieveProvider" value="DBLogger" />
    <add key="ErrorLogPath" value="" /><!--没有指定路径将在工程dll文件的ErrorLog目录?-->
    <add key="LogErrorToFile" value="Yes" />
    <add key="TracePath" value="C:\Temp" />
    <add key="TraceLevel" value="Debug,Warn" />
    <!--<add key="ConnectionString" value="data source=smtsaas96;User Id=smthrm;Password=oracle;Integrated Security=no;" />-->
    <add key="ConnectionString" value="data source=SMTSAASDB96;User Id=smthrm;Password=oracle;Integrated Security=no;" />
    <add key="SendErrorEmail" value="No" />
    <add key="ErrorEmailSender" value="xianghy@sinomaster.com" />
    <add key="ErrorEmailReceiver" value="xianghy@sinomaster.com" />
    <add key="SMTPServer" value="mail.sinomaster.com" />
    <add key="SMTPLogin" value="xianghy@sinomaster.com" />
    <add key="SMTPPassword" value="******" />
    <add key="SMTPPort" value="25" />
    <add key="AssemblyVersion" value="SMT.Foundation.Log,Entity, FlashTrade,Core" />
    <!--ErrorLog配置结束-->
    <add key="isForHuNanHangXingSalary" value="false"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="SMT_OA_EFModelContext"
         connectionString="provider=EFOracleProvider;&#xD;&#xA; 
         metadata=res://*/SMT_OA_EFModel.csdl|res://*/SMT_OA_EFModel.ssdl|res://*/SMT_OA_EFModel.msl;
         &#xD;&#xA; Provider Connection String='data source=smtsaasdb;user id=smtoa;password=smtoa880122'"
         providerName="System.Data.EntityClient" />-->
    <!--<add name="SMT_OA_EFModelContext"
         connectionString="provider=EFOracleProvider;&#xD;&#xA; 
         metadata=res://*/SMT_OA_EFModel.csdl|res://*/SMT_OA_EFModel.ssdl|res://*/SMT_OA_EFModel.msl;
         &#xD;&#xA; Provider Connection String='data source=SMTSAAS96;user id=smtoa;password=oracle'"
         providerName="System.Data.EntityClient" />-->
    <!--<add name="SMT_OA_EFModelContext"
         connectionString="provider=EFOracleProvider;&#xD;&#xA; 
         metadata=res://*/SMT_OA_EFModel.csdl|res://*/SMT_OA_EFModel.ssdl|res://*/SMT_OA_EFModel.msl;
         &#xD;&#xA; Provider Connection String='data source=SMTSAASDB96;user id=smtoa;password=oracle'"
         providerName="System.Data.EntityClient" />-->
    <add name="SMT_OA_EFModelContext"
         connectionString="provider=EFOracleProvider;&#xD;&#xA; 
         metadata=res://*/SMT_OA_EFModel.csdl|res://*/SMT_OA_EFModel.ssdl|res://*/SMT_OA_EFModel.msl;
         &#xD;&#xA; Provider Connection String='data source=SMTSAAS94;user id=smtoa;password=test'"
         providerName="System.Data.EntityClient" />
  <!--<add name="SMT_OA_EFModelContext"
         connectionString="provider=EFOracleProvider;&#xD;&#xA; 
         metadata=res://*/SMT_OA_EFModel.csdl|res://*/SMT_OA_EFModel.ssdl|res://*/SMT_OA_EFModel.msl;
         &#xD;&#xA; Provider Connection String='data source=hxTest;user id=smtoa;password=oracle'"
         providerName="System.Data.EntityClient" />-->
    <!--93数据库连接-->
    <!--<add name="SMT_OA_EFModelContext"
         connectionString="provider=EFOracleProvider;&#xD;&#xA; 
         metadata=res://*/SMT_OA_EFModel.csdl|res://*/SMT_OA_EFModel.ssdl|res://*/SMT_OA_EFModel.msl;
         &#xD;&#xA; Provider Connection String='data source=95MVC;user id=smtoa;password=oracle'"
         providerName="System.Data.EntityClient" />-->
    <!--<add name="SMT_OA_EFModelContext"
         connectionString="provider=EFOracleProvider;&#xD;&#xA; 
         metadata=res://*/SMT_OA_EFModel.csdl|res://*/SMT_OA_EFModel.ssdl|res://*/SMT_OA_EFModel.msl;
         &#xD;&#xA; Provider Connection String='data source=97MVC;user id=smtoa;password=oracle'"
         providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <system.web>
    <!--          
            T_OA_APPROVALINFOTEMPLET
            
        -->
    <compilation debug="true" targetFramework="4.0">
    </compilation>
    <!--            
        -->
    <authentication mode="Windows"/>
    <!--          
        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <!--传输数据量大的时候要设置这里<102400KB>-->
    <httpRuntime maxRequestLength="2097151" executionTimeout="30"/>
    

  </system.web>
  <!--       
    -->
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
      <!--no FB.Result was returned 2012-01-16Add-->
        <behavior name="SMT.SaaS.OA.Services.OAUpdateCheckBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        
        <behavior name="SMT.SaaS.OA.Services.EngineDataSourceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="SMT.SaaS.OA.Services.SmtOAPersonOfficeBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="SMT.SaaS.OA.Services.SmtOACommonOfficeBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="SMT.SaaS.OA.Services.SmtOADocumentAdminBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="SMT.SaaS.OA.Services.SmtOACommonAdminBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="SMT.SaaS.OA.Services.EngineEventServicesBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="SMT.SaaS.OA.Services.FileUploadManagerBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="SMT.SaaS.OA.Services.PermissionService">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
        <behavior name="SMT.SaaS.OA.Services.Service1Behavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="SMT.SaaS.OA.Services.Service2Behavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="SMT.SaaS.OA.Services.AgentServicesBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_PersonnelService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_SmtOAPersonOfficeService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <!--<binding name="BasicHttpBinding_IEngineWcfGlobalFunction" closeTimeout="00:10:00"
          openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>-->
        <binding name="BasicHttpBinding_FBService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_FileUploadManager" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="3145728" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IPersonalRecordService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IPublicService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_DailyUpdateCheckStateService"
          closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00"
          sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false"
          hostNameComparisonMode="StrongWildcard" maxBufferSize="65536"
          maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text"
          textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_AttendanceService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="CustomBinding_PermissionService">
          <binaryMessageEncoding maxReadPoolSize="2147483647" maxWritePoolSize="2147483647"
            maxSessionSize="2147483647">
            <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
              maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          </binaryMessageEncoding>
          <httpTransport manualAddressing="false" maxBufferPoolSize="2147483647"
            maxReceivedMessageSize="2147483647" allowCookies="false" authenticationScheme="Anonymous"
            bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            keepAliveEnabled="true" maxBufferSize="2147483647" proxyAuthenticationScheme="Anonymous"
            realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"
            useDefaultWebProxy="true" />
        </binding>
        <binding name="CustomBinding_OrganizationService">
          <binaryMessageEncoding maxReadPoolSize="2147483647" maxWritePoolSize="2147483647"
            maxSessionSize="2147483647">
            <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
              maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          </binaryMessageEncoding>
          <httpTransport manualAddressing="false" maxBufferPoolSize="2147483647"
            maxReceivedMessageSize="2147483647" allowCookies="false" authenticationScheme="Anonymous"
            bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            keepAliveEnabled="true" maxBufferSize="2147483647" proxyAuthenticationScheme="Anonymous"
            realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"
            useDefaultWebProxy="true" />
        </binding>
        <binding name="CustomBinding_BllCommonPermissionServices">
          <binaryMessageEncoding maxReadPoolSize="2147483647" maxWritePoolSize="2147483647"
            maxSessionSize="2147483647">
            <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
              maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          </binaryMessageEncoding>
          <httpTransport manualAddressing="false" maxBufferPoolSize="2147483647"
            maxReceivedMessageSize="2147483647" allowCookies="false" authenticationScheme="Anonymous"
            bypassProxyOnLocal="false" decompressionEnabled="true" hostNameComparisonMode="StrongWildcard"
            keepAliveEnabled="true" maxBufferSize="2147483647" proxyAuthenticationScheme="Anonymous"
            realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"
            useDefaultWebProxy="true" />
        </binding>
        <binding name="customBinding10">
          <binaryMessageEncoding maxReadPoolSize="2147483647" maxWritePoolSize="2147483647"
            maxSessionSize="2147483647">
            <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
              maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          </binaryMessageEncoding>
          <httpTransport />
        </binding>
        <binding name="customBinding1">
          <binaryMessageEncoding />
          <httpTransport />
        </binding>
        <binding name="customBinding2">
          <binaryMessageEncoding maxReadPoolSize="2147483647" maxWritePoolSize="2147483647"
            maxSessionSize="2147483647">
            <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
              maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          </binaryMessageEncoding>
          <httpTransport manualAddressing="false" maxBufferPoolSize="2147483647"
            maxReceivedMessageSize="2147483647" allowCookies="false" authenticationScheme="Anonymous"
            bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            keepAliveEnabled="true" maxBufferSize="2147483647" proxyAuthenticationScheme="Anonymous"
            realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"
            useDefaultWebProxy="true" />
        </binding>
        <binding name="customBinding3">
          <binaryMessageEncoding />
          <httpTransport />
        </binding>
        <binding name="customBinding4">
          <binaryMessageEncoding />
          <httpTransport />
        </binding>
        <binding name="customBinding5">
          <binaryMessageEncoding />
          <httpTransport />
        </binding>
        <binding name="customBinding0">
          <binaryMessageEncoding />
          <httpTransport />
        </binding>
        <binding name="customBinding6">
          <binaryMessageEncoding />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_AgentServices">
          <binaryMessageEncoding maxReadPoolSize="2147483647" maxWritePoolSize="2147483647"
            maxSessionSize="2147483647">
            <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
              maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          </binaryMessageEncoding>
          <httpTransport manualAddressing="false" maxBufferPoolSize="2147483647"
            maxReceivedMessageSize="2147483647" allowCookies="false" authenticationScheme="Anonymous"
            bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            keepAliveEnabled="true" maxBufferSize="2147483647" proxyAuthenticationScheme="Anonymous"
            realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"
            useDefaultWebProxy="true" />
        </binding>
        <binding name="SMT.SaaS.OA.Services.EngineServices.customBinding0">
          <binaryMessageEncoding />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_OAUpdateCheckServices">
          <binaryMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
            maxSessionSize="2048">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          </binaryMessageEncoding>
          <httpTransport manualAddressing="false" maxBufferPoolSize="524288"
            maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous"
            bypassProxyOnLocal="false" decompressionEnabled="true" hostNameComparisonMode="StrongWildcard"
            keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous"
            realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"
            useDefaultWebProxy="true" />
        </binding>
        <binding name="SMT.SaaS.OA.Services.TravrlPrintServices.customBinding0">
          <binaryMessageEncoding />
          <httpTransport />
        </binding>
      </customBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
          messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
          allowCookies="false">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="2147483647" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="None">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true"
              establishSecurityContext="true" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IEngineWcfGlobalFunction" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
          messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
          allowCookies="false">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="None">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />


    <services>
      <service behaviorConfiguration="SMT.SaaS.OA.Services.SmtOAPersonOfficeBehavior"
        name="SMT.SaaS.OA.Services.SmtOAPersonOffice">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_SmtOAPersonOfficeService"
          contract="SMT.SaaS.OA.Services.SmtOAPersonOffice" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="SMT.SaaS.OA.Services.SmtOACommonOfficeBehavior"
        name="SMT.SaaS.OA.Services.SmtOACommonOffice">
        <endpoint address="" binding="customBinding" bindingConfiguration="customBinding2"
          contract="SMT.SaaS.OA.Services.SmtOACommonOffice" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="SMT.SaaS.OA.Services.SmtOADocumentAdminBehavior"
        name="SMT.SaaS.OA.Services.SmtOADocumentAdmin">
        <endpoint address="" binding="customBinding" bindingConfiguration="customBinding3"
          contract="SMT.SaaS.OA.Services.SmtOADocumentAdmin" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="SMT.SaaS.OA.Services.SmtOACommonAdminBehavior"
        name="SMT.SaaS.OA.Services.SmtOACommonAdmin">
        <endpoint address="" binding="customBinding" bindingConfiguration="customBinding4"
          contract="SMT.SaaS.OA.Services.SmtOACommonAdmin" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="SMT.SaaS.OA.Services.EngineEventServicesBehavior"
        name="SMT.SaaS.OA.Services.EngineEventServices">
        <endpoint address="" binding="customBinding" bindingConfiguration="customBinding0"
          contract="Smt.Global.IContract.IEventTriggerProcess" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="SMT.SaaS.OA.Services.FileUploadManagerBehavior"
        name="SMT.SaaS.OA.Services.FileUploadManager">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_FileUploadManager"
          contract="SMT.SaaS.OA.Services.FileUploadManager" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="SMT.SaaS.OA.Services.Service1Behavior"
        name="SMT.SaaS.OA.Services.Service1">
        <endpoint address="" binding="wsHttpBinding" contract="SMT.SaaS.OA.Services.IService1">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="SMT.SaaS.OA.Services.Service2Behavior"
        name="SMT.SaaS.OA.Services.Service2">
        <endpoint address="" binding="customBinding" bindingConfiguration="customBinding6"
          contract="SMT.SaaS.OA.Services.Service2" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="SMT.SaaS.OA.Services.OAUpdateCheckBehavior"
        name="SMT.SaaS.OA.Services.OAUpdateCheckServices">
        <endpoint address="" binding="customBinding" bindingConfiguration="CustomBinding_OAUpdateCheckServices"
          contract="SMT.SaaS.OA.Services.OAUpdateCheckServices" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="SMT.SaaS.OA.Services.AgentServicesBehavior"
        name="SMT.SaaS.OA.Services.AgentServices">
        <endpoint address="" binding="customBinding" bindingConfiguration="CustomBinding_AgentServices"
          contract="SMT.SaaS.OA.Services.AgentServices" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="SMT.SaaS.OA.Services.EngineServices">
        <endpoint address="" binding="customBinding" bindingConfiguration="SMT.SaaS.OA.Services.EngineServices.customBinding0"
          contract="Smt.Global.IContract.IApplicationService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="SMT.SaaS.OA.Services.TravrlPrintServices">
        <endpoint address="" binding="customBinding" bindingConfiguration="SMT.SaaS.OA.Services.TravrlPrintServices.customBinding0"
          contract="SMT.SaaS.OA.Services.TravrlPrintServices" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <client>
      <endpoint address="http://10.10.0.93:8080/New/services/SMTFlow/SMT.FlowWFService.Service.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IService"
        contract="FlowWFService.IService" name="WSHttpBinding_IService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://10.10.0.93:8080/New/services/System/PermissionService.svc"
        binding="customBinding" bindingConfiguration="CustomBinding_PermissionService"
        contract="PermissionWS.PermissionService" name="CustomBinding_PermissionService" />
      <endpoint address="http://10.10.0.93:8080/New/services/HR/OrganizationService.svc"
        binding="customBinding" bindingConfiguration="CustomBinding_OrganizationService"
        contract="OrganizationWS.OrganizationService" name="CustomBinding_OrganizationService" />
      <endpoint address="http://10.10.0.93:8080/New/services/HR/PersonnelService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_PersonnelService"
        contract="PersonnelWS.PersonnelService" name="BasicHttpBinding_PersonnelService" />
      
      <!--<endpoint address="http://10.10.0.93:8080/New/services/smtengine/EngineWcfGlobalFunction.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEngineWcfGlobalFunction"
        contract="EngineConfigWS.IEngineWcfGlobalFunction" name="BasicHttpBinding_IEngineWcfGlobalFunction" />-->
      <endpoint address="http://10.10.0.93:8080/New/Services/SMTEngine/EngineWcfGlobalFunction.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IEngineWcfGlobalFunction"
        contract="EngineConfigWS.IEngineWcfGlobalFunction" name="WSHttpBinding_IEngineWcfGlobalFunction" />
      <endpoint address="http://10.10.0.93:8080/New/Services/FB/FBService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_FBService"
        contract="FBServiceWS.FBService" name="BasicHttpBinding_FBService" />
      <!--<endpoint address="http://10.10.0.93:8080/New/services/fb/FBService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_FBService"
        contract="FBServiceWS.FBService" name="BasicHttpBinding_FBService" />-->
      <endpoint address="http://10.10.0.93:8080/New/services/System/BllCommonPermissionServices.svc"
        binding="customBinding" bindingConfiguration="CustomBinding_BllCommonPermissionServices"
        contract="BllCommonUserPermissionWS.BllCommonPermissionServices"
        name="CustomBinding_BllCommonPermissionServices" />
      <endpoint address="http://10.10.0.93:8080/New/Services/MyRecord/PersonalRecordService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPersonalRecordService"
        contract="PersonalRecordWS.IPersonalRecordService" name="BasicHttpBinding_IPersonalRecordService" />
      <endpoint address="http://10.10.0.93:8080/New/services/PublicInterface/PublicService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPublicService"
        contract="PublicInterfaceWS.IPublicService" name="BasicHttpBinding_IPublicService" />
      <endpoint address="http://localhost:3938/OAUpdateCheckServices.svc"
        binding="customBinding" bindingConfiguration="CustomBinding_OAUpdateCheckServices"
        contract="OAUpdateCheckWS.OAUpdateCheckServices" name="CustomBinding_OAUpdateCheckServices" />
      <endpoint address="http://10.10.0.93:8080/New/Services/hr/AttendanceService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_AttendanceService"
        contract="AttendanceWS.AttendanceService" name="BasicHttpBinding_AttendanceService" />
    </client>
  </system.serviceModel>
  <system.net>
    <settings>
      <servicePointManager expect100Continue="false"/>
    </settings>
  </system.net>
</configuration>
