<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="InterActiveDirectory.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<appSettings><add key="InterActiveDirectory.ExchangeServices.Service1" value="http://172.18.1.10/ExchangeServices/Service1.asmx"/></appSettings><applicationSettings>
        <InterActiveDirectory.Properties.Settings>
            <setting name="InterActiveDirectory_kmoapassword_CHTWebService"
                serializeAs="String">
                <value>http://kmoa.aisidi.com/kmoa_webservice/CHTWebService.asmx</value>
            </setting>
            <setting name="InterActiveDirectory_ExchangeServices_ExchangeServices"
                serializeAs="String">
                <value>http://172.16.1.16/adserver/ExchangeServices.asmx</value>
            </setting>
            <setting name="InterActiveDirectory_AdOperate_AD_ExchangePassWord"
                serializeAs="String">
                <value>http://172.16.1.16/adserver/AD_ExchangePassWord.asmx</value>
            </setting>
            <setting name="InterActiveDirectory_com_sinomaster_cttest_ChangePWD"
                serializeAs="String">
                <value>http://cttest.sinomaster.com/AD/ChangePWD.asmx</value>
            </setting>
        </InterActiveDirectory.Properties.Settings>
    </applicationSettings>
</configuration>
