<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPlatformServices" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="10:10:10" sendTimeout="00:01:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="1073741824" maxBufferPoolSize="2073741824"
                    maxReceivedMessageSize="1073741824" messageEncoding="Text"
                    textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="2073741824"
                        maxBytesPerRead="2073741824" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IPlatformSiServices" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:15739/PlatformServices.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPlatformServices"
                contract="PlatformWS.IPlatformServices" name="BasicHttpBinding_IPlatformServices" />
            <endpoint address="http://localhost:15739/PlatformSiServices.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPlatformSiServices"
                contract="PlatformSiWS.IPlatformSiServices" name="BasicHttpBinding_IPlatformSiServices" />
        </client>
    </system.serviceModel>
</configuration>