<?xml version="1.0" encoding="utf-8" ?>
<root>
    <item companycode="SMT" savepath="C:\文件上传\{0}\{1}\{2}" companyname="神州通在线有限公司"   fileurl="暂时没用" thumbnailurl="暂时没用" maxnumber="2" maxsize="2.MB" uploadspeed="52428800"/>
    <item companycode="USA" savepath="\\172.30.40.229\temp\{0}\{1}\{2}" companyname="神州通在线有限公司"   fileurl="暂时没用" thumbnailurl="暂时没用" maxnumber="2" maxsize="2.MB" uploadspeed="52428800"/>
</root>