<?xml version="1.0"?>
<!--
    注意: 除了手动编辑此文件以外， 
    还可以使用 Web 管理工具来配置应用程序的设置。
    可以使用 Visual Studio 中的“网站”->“Asp.Net 配置”选项。
    设置和注释的完整列表在 
    machine.config.comments 中，该文件通常位于 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <appSettings>
    <!-- SaaS DAL configuration settings. Possible values: SMT.Foundation.DALSqlServer for SqlServer, SMT.Foundation.DALOracle for Oracle. -->
    <add key="DataBaseType" value="Oracle" />
    <add key="DALAssemblyPath" value="SMT_HRM_EFModel" />
    <add key="DBContextName" value="SMT_HRM_EFModelContext" />
    <!--<add key="DataBaseType" value="SQLServer"/>
    <add key="DALAssemblyPath" value="SMT.Foundation.DALSqlServer"/>-->
    <!--<add key="DataBaseType" value="MySql"/>
    <add key="DALAssemblyPath" value="SMT.Foundation.DALMySql"/>-->
    <add key="EntityDllPath" value=",SMT_HRM_EFModel, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <add key="FileUploadLocation" value="/UploadedFiles/" />
    <add key="PermissionSystemPath" value="http://10.10.0.93:8080/New/Application/System/TestPage.html" />
    <add key="UseWorkFlow" value="Yes" />
    <!--ErrorLog配置开始 xml日志记录：XMLLogger,数据库日志记录：DBLogger,文本日志记录：TXTLogger-->
    <add key="LoggerProvider" value="XMLLogger" />
    <add key="LogRetrieveProvider" value="DBLogger" />    
    <add key="ErrorLogPath" value="" /><!--没有指定路径将在工程dll文件的ErrorLog目录?-->
    <add key="LogErrorToFile" value="Yes" />
    <add key="TracePath" value="C:\Temp" />
    <add key="TraceLevel" value="Debug,Warn" />
    <add key="ConnectionString" value="data source=SMTSAAS94;User Id=smthrm;Password=test;" /><!--薪资结算用到-->
    <add key="TraceSalarySql" value="true" />
    <!--薪资结算用到-->
    <!--<add key="ConnectionString" value="data source=bj209;User Id=smthrm;Password=oracle;" />-->
    <!--薪资结算用到-->
    <add key="SendErrorEmail" value="No" />
    <add key="ErrorEmailSender" value="xianghy@sinomaster.com" />
    <add key="ErrorEmailReceiver" value="xianghy@sinomaster.com" />
    <add key="SMTPServer" value="mail.sinomaster.com" />
    <add key="SMTPLogin" value="xianghy@sinomaster.com" />
    <add key="SMTPPassword" value="******" />
    <add key="SMTPPort" value="25" />
    <add key="AssemblyVersion" value="SMT.Foundation.Log,Entity, FlashTrade,Core" />
    <!--ErrorLog配置结束-->
    <add key="EngineFuncWSSite" value="http://10.10.0.93:8080/New/Services/HR/EngineTriggerService.svc" />
    <add key="CanManuAudit" value="true;55922953-53b1-4bb8-b15d-0c05d0e215d2" />
    <add key="GetDicitionnaryFromCache" value="true" />
    <add key="microsoft.visualstudio.teamsystems.aspnetdevserver:/" value="12168;True;-1;1;0" />
    <add key="microsoft.visualstudio.teamsystems.backupinfo" value="3;web.config.backup" />
    <!--cafdca8a-c630-4475-a65d-490d052dca36(10.10.4.253)王力所在公司，测试用-->
    <add key="AutoImportCompanys" value="cafdca8a-c630-4475-a65d-490d052dca36,703dfb3c-d3dc-4b1d-9bf0-3507ba01b716,72b3f128-6cf0-498c-8e70-89d0d66403f2,4da803fc-08ad-426b-82e2-f25f3192f438,bac05c76-0f5b-40ae-b73b-8be541ed35ed,142e5b31-4596-4a90-9be6-e422c9784810,3cd50b8b-8288-465b-826f-58d1dbe43464"/>    
    <add key="PersonMoneyAssignOwner" value="24a358f9-8539-4faa-aee6-d5cbc8ea450d"/>
    <add key="PersonMoneyAssignCompany" value="427eb67d-35b4-47a9-9609-baf5355d2ed5"/>
  </appSettings>
  <connectionStrings>
    <add name="SMT_HRM_EFModelContext"
         connectionString="provider=EFOracleProvider;
         metadata=res://*/SMT_HRM_EFModel.csdl|res://*/SMT_HRM_EFModel.ssdl|res://*/SMT_HRM_EFModel.msl;
         Provider Connection String='data source=smtsaasdb;User Id=smthrm;Password=smthrm871210'"
         providerName="System.Data.EntityClient" />
    
    <!--<add name="SMT_HRM_EFModelContext"
         connectionString="provider=EFOracleProvider;
         metadata=res://*/SMT_HRM_EFModel.csdl|res://*/SMT_HRM_EFModel.ssdl|res://*/SMT_HRM_EFModel.msl;
         Provider Connection String='data source=SMTSAAS94;User Id=smthrm;Password=test'"
         providerName="System.Data.EntityClient" />-->
    <!--<add name="SMT_HRM_EFModelContext"
         connectionString="provider=EFOracleProvider;
         metadata=res://*/SMT_HRM_EFModel.csdl|res://*/SMT_HRM_EFModel.ssdl|res://*/SMT_HRM_EFModel.msl;
         Provider Connection String='data source=HuNanHangX;User Id=smthrm;Password=oracle'"
         providerName="System.Data.EntityClient" />-->
    <!--<add name="SMT_HRM_EFModelContext"
         connectionString="provider=EFOracleProvider;
         metadata=res://*/SMT_HRM_EFModel.csdl|res://*/SMT_HRM_EFModel.ssdl|res://*/SMT_HRM_EFModel.msl;
         Provider Connection String='data source=bj209;User Id=smthrm;Password=oracle'"
         providerName="System.Data.EntityClient" />-->
    <!--<add name="SMT_HRM_EFModelContext"
         connectionString="provider=EFOracleProvider;
         metadata=res://*/SMT_HRM_EFModel.csdl|res://*/SMT_HRM_EFModel.ssdl|res://*/SMT_HRM_EFModel.msl;
         Provider Connection String='data source=95MVC;User Id=smthrm;Password=oracle'"
         providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <system.web>
    <!--
           设置 compilation debug="true" ，将调试符号 
            插入已编译的页面中。但由于这会影响性能， 
           因此请只在开发过程中 
            将此值设置为 true。
        -->
    <compilation debug="true" targetFramework="4.0">
    </compilation>
    <!--
            通过 <authentication> 节可以配置
            ASP.NET 使用的安全身份验证 
            模式，以标识传入的用户。 
        -->
    <authentication mode="Windows" />
    <!--
            通过 <customErrors> 节可以配置在执行请求过程中出现未处理错误时， 
           应执行的操作。 
            具体说来，开发人员通过该节 
            可以配置要显示的 html 错误页 
            以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <httpRuntime executionTimeout="240" maxRequestLength="20480" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
    <!--<httpModules>
      <add name="HostAdapter" type="Microsoft.VisualStudio.TestTools.HostAdapter.Web.HttpModule, Microsoft.VisualStudio.QualityTools.HostAdapters.ASPNETAdapter, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </httpModules>-->
    <!--<httpHandlers>
      <add verb="GET" path="VSEnterpriseHelper.axd" type="Microsoft.VisualStudio.Enterprise.Common.AspNetHelperHandler, Microsoft.VisualStudio.Enterprise.AspNetHelper, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </httpHandlers>-->
  </system.web>
  <!--
        在 Internet 信息服务 7.0 下，运行 ASP.NET AJAX 要求 
      system.webServer 节。这在以前版本的 IIS 中并非必需。
    -->
  <system.serviceModel>
    <client>
      <endpoint address="http://smtdev.smt-online.net/New/Services/CommonServices/CacheService.svc"
        binding="basicHttpBinding" bindingConfiguration="CacheService"
        contract="MVCCacheSV.ICacheService" name="CacheService" />
      <endpoint address="http://10.10.0.93:8080/New/Services/System/BllCommonPermissionServices.svc"
        binding="customBinding" bindingConfiguration="CustomBinding_BllCommonPermissionServices"
        contract="BllCommonUserPermissionWS.BllCommonPermissionServices"
        name="CustomBinding_BllCommonPermissionServices" />
      <endpoint address="http://10.10.0.93:8080/New/Services/SMTEngine/EngineWcfGlobalFunction.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IEngineWcfGlobalFunction"
        contract="EngineConfigWS.IEngineWcfGlobalFunction" name="WSHttpBinding_IEngineWcfGlobalFunction" />
      <endpoint address="http://localhost:12169/FBService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_FBService"
        contract="FBServiceWS.FBService" name="BasicHttpBinding_FBService" />
      <endpoint address="http://10.10.0.93:8080/New/Services/System/PermissionService.svc"
        binding="customBinding" bindingConfiguration="CustomBinding_PermissionService"
        contract="PermissionWS.PermissionService" name="CustomBinding_PermissionService" />
      <endpoint address="http://10.10.0.93:8080/New/Services/SMTFlow/SMT.FlowWFService.Service.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IService"
        contract="FlowWFService.IService" name="WSHttpBinding_IService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://10.10.0.93:8080/New/Services/MyRecord/PersonalRecordService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPersonalRecordService"
        contract="PersonalRecordWS.IPersonalRecordService" name="BasicHttpBinding_IPersonalRecordService" />
      <endpoint address="http://10.10.0.93:8080/New/Services/System/MainUIServices.svc"
       binding="customBinding" bindingConfiguration="CustomBinding_MainUIServices"
       contract="PMUserLoginWS.MainUIServices" name="CustomBinding_MainUIServices" />      
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="SMT.HRM.Services.UserLoginServiceAjaxAspNetAjaxBehavior">
          <!--<enableWebScript />-->
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="SMT.HRM.Services.DntUsersBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="SMT.HRM.Services.TestUsersBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="SMT.HRM.Services.EntityServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="SMT.HRM.Services.OrganizationServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
        <behavior name="SMT.HRM.Services.PersonnelServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="SMT.HRM.Services.AttendanceServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
        <behavior name="SMT.HRM.Services.SalaryServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="SMT.HRM.Services.HrCommonServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="SMT.HRM.Services.PerformanceServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="SMT.HRM.Services.EngineServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="SMT.HRM.Services.EngineTriggerServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="SMT.SaaS.BLLCommonServices.PermissionService">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="CacheService" />
        <binding name="BasicHttpBinding_FBService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:30:00" sendTimeout="00:30:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647"
            maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="basicHttpBinding_AttendanceService" closeTimeout="00:10:00"
          openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
          bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
        <binding name="basicHttpBinding_SalaryService" maxBufferSize="2000000"
          maxReceivedMessageSize="2000000">
          <readerQuotas maxStringContentLength="2000000" maxArrayLength="2000000" />
        </binding>
        <binding name="basicHttpBinding_PersonnelService" closeTimeout="00:10:00"
          openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
          bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
        <binding name="BasicHttpBinding_IPersonalRecordService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="customBinding0">
          <binaryMessageEncoding />
          <httpTransport />
        </binding>
        <binding name="customBinding1">
          <binaryMessageEncoding />
          <httpTransport />
        </binding>
        <binding name="customBinding2">
          <binaryMessageEncoding maxReadPoolSize="2147483647" maxWritePoolSize="2147483647"
            maxSessionSize="2147483647">
            <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
              maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          </binaryMessageEncoding>
          <httpTransport manualAddressing="false" maxBufferPoolSize="2147483647"
            maxReceivedMessageSize="2147483647" allowCookies="false" authenticationScheme="Anonymous"
            bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            keepAliveEnabled="true" maxBufferSize="2147483647" proxyAuthenticationScheme="Anonymous"
            realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"
            useDefaultWebProxy="true" />
        </binding>
        <binding name="CustomBinding_PermissionService">
          <binaryMessageEncoding maxReadPoolSize="2147483647" maxWritePoolSize="2147483647"
            maxSessionSize="2147483647">
            <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
              maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="16384" />
          </binaryMessageEncoding>
          <httpTransport manualAddressing="false" maxBufferPoolSize="2147483647"
            maxReceivedMessageSize="2147483647" allowCookies="false" authenticationScheme="Anonymous"
            bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            keepAliveEnabled="true" maxBufferSize="2147483647" proxyAuthenticationScheme="Anonymous"
            realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"
            useDefaultWebProxy="true" />
        </binding>
        <binding name="customBinding4">
          <binaryMessageEncoding />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_FBService">
          <binaryMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
            maxSessionSize="2048">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          </binaryMessageEncoding>
          <httpTransport manualAddressing="false" maxBufferPoolSize="524288"
            maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous"
            bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous"
            realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"
            useDefaultWebProxy="true" />
        </binding>
        <binding name="customBinding_PerformanceService">
          <binaryMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
            maxSessionSize="2048">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          </binaryMessageEncoding>
          <httpTransport manualAddressing="false" maxBufferPoolSize="524288"
            maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous"
            bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous"
            realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"
            useDefaultWebProxy="true" />
        </binding>
        <binding name="customBinding3">
          <binaryMessageEncoding />
          <httpTransport />
        </binding>
        <binding name="customBinding5">
          <binaryMessageEncoding />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_BllCommonPermissionServices">
          <binaryMessageEncoding maxReadPoolSize="2147483647" maxWritePoolSize="2147483647"
            maxSessionSize="2147483647">
            <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
              maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          </binaryMessageEncoding>
          <httpTransport manualAddressing="false" maxBufferPoolSize="2147483647"
            maxReceivedMessageSize="2147483647" allowCookies="false" authenticationScheme="Anonymous"
            bypassProxyOnLocal="false" decompressionEnabled="true" hostNameComparisonMode="StrongWildcard"
            keepAliveEnabled="true" maxBufferSize="2147483647" proxyAuthenticationScheme="Anonymous"
            realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"
            useDefaultWebProxy="true" />
        </binding>
        <binding name="SMT.HRM.Services.HRUpdateCheckStateServices.customBinding0">
          <binaryMessageEncoding />
          <httpTransport />
        </binding>
        <binding name="SMT.HRM.Services.InstantMessagingService.customBinding0">
          <binaryMessageEncoding />
          <httpTransport />
        </binding>
        <binding name="SMT.HRM.Services.EmployeeInfoService.customBinding0">
          <binaryMessageEncoding />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_MainUIServices">
          <binaryMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
            maxSessionSize="2048">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          </binaryMessageEncoding>
          <httpTransport manualAddressing="false" maxBufferPoolSize="524288"
            maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous"
            bypassProxyOnLocal="false" decompressionEnabled="true" hostNameComparisonMode="StrongWildcard"
            keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous"
            realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"
            useDefaultWebProxy="true" />
        </binding>
      </customBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IEngineWcfGlobalFunction" closeTimeout="00:01:00"
                  openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                  bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
                  maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
                  messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
                  allowCookies="false">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="None">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text"
          textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="None">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true"
              establishSecurityContext="true" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
    <services>
      <service behaviorConfiguration="SMT.HRM.Services.DntUsersBehavior"
        name="SMT.HRM.Services.DntUsersService">
        <endpoint address="" binding="customBinding" bindingConfiguration="customBinding0"
          contract="SMT.HRM.Services.DntUsersService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="SMT.HRM.Services.TestUsersBehavior"
        name="SMT.HRM.Services.TestUsersService">
        <endpoint address="" binding="customBinding" bindingConfiguration="customBinding1"
          contract="SMT.HRM.Services.TestUsersService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="SMT.HRM.Services.EntityServiceBehavior"
        name="SMT.HRM.Services.EntityService">
        <endpoint address="" binding="wsHttpBinding" contract="SMT.HRM.Services.IEntityService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="SMT.HRM.Services.OrganizationServiceBehavior"
        name="SMT.HRM.Services.OrganizationService">
        <endpoint address="" binding="customBinding" bindingConfiguration="customBinding2"
          contract="SMT.HRM.Services.OrganizationService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="SMT.HRM.Services.PersonnelServiceBehavior"
        name="SMT.HRM.Services.PersonnelService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_PersonnelService"
          contract="SMT.HRM.Services.PersonnelService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="SMT.HRM.Services.AttendanceServiceBehavior"
        name="SMT.HRM.Services.AttendanceService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_AttendanceService"
          contract="SMT.HRM.Services.AttendanceService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="SMT.HRM.Services.SalaryServiceBehavior"
        name="SMT.HRM.Services.SalaryService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_SalaryService"
          contract="SMT.HRM.Services.SalaryService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="SMT.HRM.Services.HrCommonServiceBehavior"
        name="SMT.HRM.Services.HrCommonService">
        <endpoint address="" binding="customBinding" bindingConfiguration="customBinding4"
          contract="SMT.HRM.Services.HrCommonService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="SMT.HRM.Services.PerformanceServiceBehavior"
        name="SMT.HRM.Services.PerformanceService">
        <endpoint address="" binding="customBinding" bindingConfiguration="customBinding_PerformanceService"
          contract="SMT.HRM.Services.PerformanceService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="SMT.HRM.Services.EngineServiceBehavior"
        name="SMT.HRM.Services.EngineService">
        <endpoint address="" binding="customBinding" bindingConfiguration="customBinding3"
          contract="Smt.Global.IContract.IApplicationService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="SMT.HRM.Services.EngineTriggerServiceBehavior"
        name="SMT.HRM.Services.EngineTriggerService">
        <endpoint address="" binding="customBinding" bindingConfiguration="customBinding5"
          contract="Smt.Global.IContract.IEventTriggerProcess" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="SMT.HRM.Services.HRUpdateCheckStateServices">
        <endpoint address="" binding="customBinding" bindingConfiguration="SMT.HRM.Services.HRUpdateCheckStateServices.customBinding0"
          contract="SMT.HRM.Services.HRUpdateCheckStateServices" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="SMT.HRM.Services.InstantMessagingService">
        <endpoint address="" binding="customBinding" bindingConfiguration="SMT.HRM.Services.InstantMessagingService.customBinding0"
          contract="SMT.HRM.Services.InstantMessagingService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="SMT.HRM.Services.EmployeeInfoService">
        <endpoint address="" binding="customBinding" bindingConfiguration="SMT.HRM.Services.EmployeeInfoService.customBinding0"
          contract="SMT.HRM.Services.EmployeeInfoService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="SMT.HRM.Services.UserLoginServiceAjax">
        <endpoint address="" behaviorConfiguration="SMT.HRM.Services.UserLoginServiceAjaxAspNetAjaxBehavior"
          binding="webHttpBinding" contract="SMT.HRM.Services.UserLoginServiceAjax" />
      </service>
    </services>
  </system.serviceModel>
  <system.webServer>
    <modules>
      <add name="HostAdapter" type="Microsoft.VisualStudio.TestTools.HostAdapter.Web.HttpModule, Microsoft.VisualStudio.QualityTools.HostAdapters.ASPNETAdapter, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="VSEnterpriseHelper.axd" verb="GET" path="VSEnterpriseHelper.axd" preCondition="integratedMode" type="Microsoft.VisualStudio.Enterprise.Common.AspNetHelperHandler, Microsoft.VisualStudio.Enterprise.AspNetHelper, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.QualityTools.HostAdapters.ASPNETAdapter" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <codeBase version="10.0.0.0" href="file:///C:/Program%20Files/Microsoft%20Visual%20Studio%2010.0/Common7/IDE/PrivateAssemblies/Microsoft.VisualStudio.QualityTools.HostAdapters.ASPNETAdapter.DLL" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.QualityTools.Common" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <codeBase version="10.0.0.0" href="file:///C:/Windows/assembly/GAC_MSIL/Microsoft.VisualStudio.QualityTools.Common/10.0.0.0__b03f5f7f11d50a3a/Microsoft.VisualStudio.QualityTools.Common.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.QualityTools.ExecutionCommon" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <codeBase version="10.0.0.0" href="file:///C:/Windows/assembly/GAC_MSIL/Microsoft.VisualStudio.QualityTools.ExecutionCommon/10.0.0.0__b03f5f7f11d50a3a/Microsoft.VisualStudio.QualityTools.ExecutionCommon.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.QualityTools.Resource" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <codeBase version="10.0.0.0" href="file:///C:/Windows/assembly/GAC_MSIL/Microsoft.VisualStudio.QualityTools.Resource/10.0.0.0__b03f5f7f11d50a3a/Microsoft.VisualStudio.QualityTools.Resource.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.Enterprise.AspNetHelper" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <codeBase version="10.0.0.0" href="file:///C:/Program%20Files/Microsoft%20Visual%20Studio%2010.0/Common7/IDE/PrivateAssemblies/Microsoft.VisualStudio.Enterprise.AspNetHelper.DLL" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <location path="VSEnterpriseHelper.axd">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <system.net>
    <settings>
      <servicePointManager expect100Continue="false"/>
    </settings>
  </system.net>
</configuration>