<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LoggerProvider" value="XMLLogger" />
    <!--XMLLogger,DBLogger,TXTLogger-->
    <add key="LogRetrieveProvider" value="DBLogger" />
    <add key="ErrorLogPath" value="" />
    <!--没有指定路径将在工程dll文件的ErrorLog目录下-->
    <add key="SendErrorEmail" value="Yes" />
    <add key="ErrorEmailSender" value="***@163.com" />
    <add key="ErrorEmailReceiver" value="***@163.com" />
    <add key="LogErrorToFile" value="Yes" />
    <add key="TracePath" value="C:\Temp" />
    <add key="TraceLevel" value="Debug,Warn" />
    <add key="ConnectionString" value="Data Source=192.168.0.4;Initial Catalog=DBname;Integrated Security=SSPI;" />
    <add key="SMTPServer" value="smtp.163.com" />
    <add key="SMTPLogin" value="**@163.com" />
    <add key="SMTPPassword" value="****" />
    <add key="SMTPPort" value="25" />
    <add key="AssemblyVersion" value="SMT.Foundation.Log,Entity,	FlashTrade,Core" />
  </appSettings>
</configuration>