<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IDataSyncService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
          textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
          messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IDataSyncService1" />
        <binding name="BasicHttpBinding_IMailService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://172.30.50.83:8300/SmtOnline/Services/IM/DataSyncService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDataSyncService"
        contract="IMServiceWS.IDataSyncService" name="BasicHttpBinding_IDataSyncService" />
      <endpoint address="http://172.16.1.23/services/DataSyncService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDataSyncService1"
        contract="IMServiceWS.IDataSyncService" name="BasicHttpBinding_IDataSyncService1" />
      <endpoint address="http://172.16.1.82/imservice/MailService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMailService"
        contract="MailService.IMailService" name="BasicHttpBinding_IMailService" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- 为避免泄漏元数据信息，请在部署前将以下值设置为 false 并删除上面的元数据终结点 -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- 要接收故障异常详细信息以进行调试，请将以下值设置为 true。在部署前设置为 false 以避免泄漏异常信息 -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
</configuration>
