<?xml version="1.0"?>
<configuration>
  <connectionStrings>

    <add name="SMT_OA_EFModelContext" connectionString="metadata=res://*/SMT_OA_EFModel.csdl|res://*/SMT_OA_EFModel.ssdl|res://*/SMT_OA_EFModel.msl;provider=EFOracleProvider;provider connection string=&quot;data source=smtsaasdb;user id=smtoa;password=smtoa&quot;" providerName="System.Data.EntityClient"/>

  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
