<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="SMT_FB_EFModelContext" connectionString="provider=EFOracleProvider;
      metadata=res://*/SMT_FB_EFModel.csdl|res://*/SMT_FB_EFModel.ssdl|res://*/SMT_FB_EFModel.msl;
      Provider Connection String='data source=smtsaasdb;user id=smtfb;password=smtfb'" providerName="System.Data.EntityClient"/>
	</connectionStrings>
	<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
