<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="TestMode" value=" " />
    <add key="clockIp" value="10.10.4.253,10.10.23.2,10.10.8.253,10.10.16.254,10.10.2.253,10.10.8.251,10.10.6.205" />
    <add key="newDevice" value="10.10.8.253,10.10.16.254,10.10.2.253,10.10.6.205" />
    <add key="companyID" value="bac05c76-0f5b-40ae-b73b-8be541ed35ed(10.10.4.253),703dfb3c-d3dc-4b1d-9bf0-3507ba01b716(10.10.23.2),72b3f128-6cf0-498c-8e70-89d0d66403f2(10.10.8.253),3cd50b8b-8288-465b-826f-58d1dbe43464(10.10.16.254),4da803fc-08ad-426b-82e2-f25f3192f438(10.10.2.253),7a613fc2-4431-4a46-ae01-232222e9fcb5(10.10.8.251),d808f8f0-f632-49e7-a41b-238c26bd98bd(10.10.6.205),142e5b31-4596-4a90-9be6-e422c9784810(10.10.8.253)" />
    <add key="clockPort" value="4370" />
    <!--湖南航信定时打卡导入配置-->
    <add key="CustomerName" value="HuNanHangXing" />
    <add key="HangXingcompanyID" value="4eb26a32-c460-47c5-8ade-f1b398c27e35">
    </add>
    <!--测试用-->
    <!--ErrorLog配置开始 xml日志记录：XMLLogger,数据库日志记录：DBLogger,文本日志记录：TXTLogger-->
    <add key="LoggerProvider" value="XMLLogger" />
    <add key="LogRetrieveProvider" value="DBLogger" />
    <add key="ErrorLogPath" value="" />
    <add key="LogErrorToFile" value="Yes" />
    <add key="TracePath" value="C:\Temp" />
    <add key="TraceLevel" value="Debug,Warn" />
    <add key="ConnectionString" value="data source=smtsaasdb;User Id=smthrm;Password=smthrm871210;" />
    <add key="TraceSalarySql" value="true" />
    <add key="SendErrorEmail" value="Yes" />
    <add key="ErrorEmailSender" value="smtonlinemail@sinomaster.com" />
    <add key="ErrorEmailReceiver" value="liuj12@sinomaster.com" />
    <add key="SMTPServer" value="mail.sinomaster.com" />
    <add key="SMTPLogin" value="smtonlinemail@sinomaster.com" />
    <add key="SMTPPassword" value="adminmail20121221" />
    <add key="SMTPPort" value="25" />
    <add key="AssemblyVersion" value="SMT.Foundation.Log,Entity, FlashTrade,Core" />
    <!--ErrorLog配置结束-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="SqlConnectionString" connectionString="data source=SMTSAAS94;User Id=smthrm;Password=test;" />
    <add name="hrEntities" connectionString="metadata=res://*/HangXingDb.csdl|res://*/HangXingDb.ssdl|res://*/HangXingDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.2.10;initial catalog=hr;persist security info=True;user id=sa;password=Sql2013;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_AttendanceService" openTimeout="1:00:00" sendTimeout="1:00:00" receiveTimeout="1:00:00" closeTimeout="1:00:00" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://portal.smt-online.net/New/Services/HR/AttendanceService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_AttendanceService"
        contract="AttendanceWS.AttendanceService" name="BasicHttpBinding_AttendanceService"
         />
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>