<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="IsWSA" value="false"/>
    <!--Windows Server AppFabric 主机-->
    <add key="CacheHostName" value="smtdevelop"/>
    <!--Windows Server AppFabric 端口-->
    <add key="CachePort" value="22233"/>
    <!--有效时间，分钟-->
    <add key="CacheMinutes" value="0.1"/>
    
    <!-- SaaS DAL configuration settings. Possible values: SMT.Foundation.DALSqlServer for SqlServer, SMT.Foundation.DALOracle for Oracle. -->
    <!--<add key="DALAssemblyPath" value="SMT.Framework.EntityFramework"/>-->
    <add key="DataBaseType" value="Oracle"/>
    <add key="DALAssemblyPath" value="SMT_System_EFModel"/>
    <add key="DBContextName" value="SMT_System_EFModelContext"/>
    <!--<add key="ConnectionString" value="Data Source=pubsaas;User Id=SMTONLINETRIAL;Password=smt123;Integrated Security=no;"/>-->
    <!--<add key="DataBaseType" value="SQLServer"/>
    <add key="DALAssemblyPath" value="SMT.Foundation.DALSqlServer"/>-->
    <!--<add key="DataBaseType" value="MySql"/>
    <add key="DALAssemblyPath" value="SMT.Foundation.DALMySql"/>-->
    <!--ErrorLog配置开始 xml日志记录：XMLLogger,数据库日志记录：DBLogger,文本日志记录：TXTLogger-->
    <add key="LoggerProvider" value="XMLLogger" />
    <add key="LogRetrieveProvider" value="DBLogger" />
    <add key="ErrorLogPath" value="" />
    <!--没有指定路径将在工程dll文件的ErrorLog目录?-->
    <add key="LogErrorToFile" value="Yes" />
    <add key="TracePath" value="C:\Temp" />
    <add key="TraceLevel" value="Debug,Warn" />
    <add key="TraceSalarySql" value="true" />
    <!--薪资结算用到-->
    <add key="ConnectionString" value="data source=HuNanHangX;User Id=smthrm;Password=oracle;" />
    <add key="isForHuNanHangXingSalary" value="true"/>
    <!--薪资结算用到-->
    <add key="SendErrorEmail" value="No" />
    <add key="ErrorEmailSender" value="xianghy@sinomaster.com" />
    <add key="ErrorEmailReceiver" value="xianghy@sinomaster.com" />
    <add key="SMTPServer" value="mail.sinomaster.com" />
    <add key="SMTPLogin" value="xianghy@sinomaster.com" />
    <add key="SMTPPassword" value="******" />
    <add key="SMTPPort" value="25" />
    <add key="AssemblyVersion" value="SMT.Foundation.Log,Entity, FlashTrade,Core" />
    <!--ErrorLog配置结束-->
    <add key="BOPath" value="F:\Project\SMT\SMTCode\SMT.SaaS\SMT.SaaS.Flow\SMT.FlowDesigner\SMT.FlowDesigner.Service"/>
  </appSettings>

    <connectionStrings>
      <add name="SMT_System_EFModelContext" connectionString="provider=EFOracleProvider;
           metadata=res://*/SMT_System_EFModel.csdl|res://*/SMT_System_EFModel.ssdl|res://*/SMT_System_EFModel.msl;
           Provider Connection String='data source=95MVC;user id=smtsystem;password=oracle'"
           providerName="System.Data.EntityClient"/>
    </connectionStrings>

  
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"  aspNetCompatibilityEnabled="true" />
    <bindings >
      <basicHttpBinding>
        <binding name="customBinding0" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647" maxDepth="64"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    
    <client />

    <services>
      <service behaviorConfiguration="SMT.SaaS.PublicInterface.PublicServiceBehavior" name="SMT.SaaS.PublicInterface.PublicService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="customBinding0" contract="SMT.SaaS.PublicInterface.IPublicService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    
    <behaviors>
      <serviceBehaviors>
        <behavior name="SMT.SaaS.PublicInterface.PublicServiceBehavior">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
    <!--<serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />-->
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
</configuration>
