<?xml version="1.0"?>
<configuration>
  <connectionStrings>    
    <add name="SMT_HRM_EFModelContext" connectionString="provider=EFOracleProvider;
   metadata=res://*/SMT_HRM_EFModel.csdl|res://*/SMT_HRM_EFModel.ssdl|res://*/SMT_HRM_EFModel.msl;
   Provider Connection String='data source=smtsaasdb;user id=smthrm;password=smthrm'" providerName="System.Data.EntityClient"/>
    
  </connectionStrings>
  <appSettings>
    <add key="LogConfigPath" value="F:\Ken\WorkSpace\SMT.SaaS\SMT.SaaS.Foundation\SMT_HRM_EFModel"/>
  </appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
