<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>


    <add key="LogPath" value="D:\SMTOnlinePortal\New\Services\SMTEngine\Log"/>
    <add key="LimitPageSize" value="200"/>
    <!--是否执行更新审核状态 0：执行 1：不执行-->
    <add key="IsNeedUpdateAudit" value="0"/>
    <add key="MailAddress" value="smtonlinemail@sinomaster.com"/>
    <add key="MailPwd" value="adminmail"/>
    <add key="MailServerAddress" value="mail.sinomaster.com"/>
    <add key="MailServerPort" value="25"/>
    <add key="MailTitle" value="协同办公系统提醒: {0}!"/>
    <add key="MailUrl" value="www.baidu.com"/>
    <add key="MailTempletePath" value="D:\SMTOnlinePortal\New\Services\SMTEngine\MailTemplete.txt"/>

    <add key="HR" value="http://172.16.1.57/New/Services/HR/"/>
    <add key="RM" value="http://172.16.1.57/New/Services/HR/"/>
    <add key="OA" value="http://172.16.1.57/New/Services/OA/"/>
    <add key="FB" value="http://172.16.1.57/New/Services/FBAnalysisService/"/>
    <add key="EDM" value="http://172.16.1.57/New/Services/EDM/"/>

    <add key="RTXTitle" value="协同办公系统提醒"/>

    <add key="PageNumber" value="15"/>
    <!--平台我的单据分页页码-->

  </appSettings>
  <connectionStrings>
    <add name="WorkFlowConnString" connectionString="oracle:data source=95;user id=smtwf;password=oracle;"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime maxRequestLength="2097151" executionTimeout="30"/>
    <customErrors mode="Off" />
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_FBService" closeTimeout="00:01:00"
                openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
                messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                useDefaultWebProxy="true">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_DailyUpdateCheckStateService"
               closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00"
               sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false"
               hostNameComparisonMode="StrongWildcard" maxBufferSize="65536"
               maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text"
               textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_PersonnelService" closeTimeout="00:01:00"
           openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
           allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
           maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
           messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
           useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="CustomBinding_OAUpdateCheckServices">
          <binaryMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
            maxSessionSize="2048">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          </binaryMessageEncoding>
          <httpTransport manualAddressing="false" maxBufferPoolSize="524288"
            maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous"
            bypassProxyOnLocal="false" decompressionEnabled="true" hostNameComparisonMode="StrongWildcard"
            keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous"
            realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"
            useDefaultWebProxy="true" />
        </binding>
        <binding name="CustomBinding_OrganizationService">
          <binaryMessageEncoding maxReadPoolSize="2147483647" maxWritePoolSize="2147483647"
           maxSessionSize="2147483647">
            <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
             maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          </binaryMessageEncoding>
          <httpTransport manualAddressing="false" maxBufferPoolSize="2147483647"
           maxReceivedMessageSize="2147483647" allowCookies="false" authenticationScheme="Anonymous"
           bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
           keepAliveEnabled="true" maxBufferSize="2147483647" proxyAuthenticationScheme="Anonymous"
           realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"
           useDefaultWebProxy="true" />
        </binding>
        <binding name="CustomBinding_PermissionService">
          <binaryMessageEncoding maxReadPoolSize="2147483647" maxWritePoolSize="2147483647" maxSessionSize="2147483647">
            <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="16384"/>
          </binaryMessageEncoding>
          <httpTransport manualAddressing="false" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" allowCookies="false" authenticationScheme="Anonymous" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" keepAliveEnabled="true" maxBufferSize="2147483647" proxyAuthenticationScheme="Anonymous" realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false" useDefaultWebProxy="true"/>
        </binding>
        <binding name="CustomBinding_HRUpdateCheckStateServices">
          <binaryMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
            maxSessionSize="2048">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          </binaryMessageEncoding>
          <httpTransport manualAddressing="false" maxBufferPoolSize="524288"
            maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous"
            bypassProxyOnLocal="false" decompressionEnabled="true" hostNameComparisonMode="StrongWildcard"
            keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous"
            realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"
            useDefaultWebProxy="true" />
        </binding>
      </customBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IEngineWcfGlobalFunction" closeTimeout="00:01:00"
           openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
           bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
           maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text"
           textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="None">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true" />
          </security>
        </binding>
        <binding name="EngineHttpBinding" maxReceivedMessageSize="2147483647">
          <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647" />
          <security mode="None"></security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <!-- 服务定义-->
    <services>
      <service behaviorConfiguration="EngineBehaviors" name="SMT.Workflow.Engine.Services.EngineWcfGlobalFunction">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="EngineHttpBinding" contract="SMT.Workflow.Engine.Services.IEngineWcfGlobalFunction"></endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <!-- 服务使用定义-->
    <behaviors>
      <serviceBehaviors>
        <behavior name="EngineBehaviors">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceCredentials/>
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <client>
      <endpoint address="http://172.16.1.97/New/Services/HR/PersonnelService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_PersonnelService"
          contract="HRService.PersonnelService" name="BasicHttpBinding_PersonnelService" />
      <endpoint address="http://172.16.1.97/New/Services/HR/PersonnelService.svc"
               binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_PersonnelService"
               contract="PersonnelWS.PersonnelService" name="BasicHttpBinding_PersonnelService" />
      <endpoint address="http://172.16.1.97/New/Services/OA/OAUpdateCheckServices.svc"
         binding="customBinding" bindingConfiguration="CustomBinding_OAUpdateCheckServices"
         contract="OAUpdateCheckWS.OAUpdateCheckServices" name="CustomBinding_OAUpdateCheckServices" />
      <endpoint address="http://172.16.1.97/New/Services/HR/PersonnelService.svc"
                     binding="customBinding" bindingConfiguration="CustomBinding_OrganizationService"
                     contract="OrganizationWS.OrganizationService" name="CustomBinding_OrganizationService"/>
      <endpoint address="http://172.16.1.97//New/Services/System/PermissionService.svc"
                    binding="customBinding"  bindingConfiguration="CustomBinding_PermissionService"
                    contract="PermissionWS.PermissionService"  name="CustomBinding_PermissionService"/>
      <endpoint address="http://smtdev.smt-online.net/New/Services/HR/HRUpdateCheckStateServices.svc"
      binding="customBinding" bindingConfiguration="CustomBinding_HRUpdateCheckStateServices"
      contract="HrUpdateCheckStateWS.HRUpdateCheckStateServices" name="CustomBinding_HRUpdateCheckStateServices" />
      <endpoint address="http://172.16.1.57/New/Services/SMTFBAService/DailyUpdateCheckStateService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_DailyUpdateCheckStateService"
        contract="FbDailyUpdateCheckStateWS.DailyUpdateCheckStateService"
        name="BasicHttpBinding_DailyUpdateCheckStateService" />
      <endpoint address="http://172.16.1.57/New/Services/FB/FBService.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_FBService" contract="FBServiceWS.FBService"
        name="BasicHttpBinding_FBService" />
      <endpoint address="http://172.16.1.57/New/Services/SMTEngine/EngineWcfGlobalFunction.svc"
         binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IEngineWcfGlobalFunction"
         contract="SMTEngine.IEngineWcfGlobalFunction" name="WSHttpBinding_IEngineWcfGlobalFunction" />
    </client>
  </system.serviceModel>
  <system.net>
    <settings>
      <servicePointManager expect100Continue="false"/>
    </settings>
  </system.net>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
