<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="wftools.services.common.ado" type="WFTools.Services.Common.Ado.Configuration.CommonAdoProviderSettings,WFTools.Services"/>
    <section name="wftools.services.persistence.ado" type="WFTools.Services.Persistence.Ado.Configuration.PersistenceAdoProviderSettings,WFTools.Services"/>
    <section name="wftools.services.tracking.ado" type="WFTools.Services.Tracking.Ado.Configuration.TrackingAdoProviderSettings,WFTools.Services"/>
  </configSections>
  <wftools.services.common.ado>
    <valueReaders>
      <add providerName="System.Data.SqlClient" type="WFTools.Services.Common.Ado.Sql.SqlValueReader,WFTools.Services"/>
      <add providerName="System.Data.OracleClient" type="WFTools.Services.Common.Ado.Oracle.OracleValueReader,WFTools.Services"/>
      <add providerName="Oracle.DataAccess.Client" type="WFTools.Services.Odp.OdpValueReader,WFTools.Services.Odp"/>
      <add providerName="MySql.Data.MySqlClient" type="WFTools.Services.MySql.MySqlValueReader,WFTools.Services.MySql"/>
    </valueReaders>
    <resourceProviders>
      <add providerName="System.Data.OracleClient" type="WFTools.Services.Common.Ado.Oracle.OracleResourceProvider,WFTools.Services"/>
      <add providerName="Oracle.DataAccess.Client" type="WFTools.Services.Odp.OdpResourceProvider,WFTools.Services.Odp"/>
      <add providerName="MySql.Data.MySqlClient" type="WFTools.Services.MySql.MySqlResourceProvider,WFTools.Services.MySql"/>
    </resourceProviders>
  </wftools.services.common.ado>
  <wftools.services.persistence.ado>
    <nameResolvers>
      <add providerName="System.Data.SqlClient" type="WFTools.Services.Persistence.Ado.Sql.SqlPersistenceNameResolver,WFTools.Services"/>
      <add providerName="System.Data.OracleClient" type="WFTools.Services.Persistence.Ado.Oracle.OraclePersistenceNameResolver,WFTools.Services"/>
      <add providerName="Oracle.DataAccess.Client" type="WFTools.Services.Odp.Persistence.OdpPersistenceNameResolver,WFTools.Services.Odp"/>
      <add providerName="MySql.Data.MySqlClient" type="WFTools.Services.MySql.Persistence.MySqlPersistenceNameResolver,WFTools.Services.MySql"/>
    </nameResolvers>
  </wftools.services.persistence.ado>
  <wftools.services.tracking.ado>
    <nameResolvers>
      <add providerName="System.Data.SqlClient" type="WFTools.Services.Tracking.Ado.Sql.SqlTrackingNameResolver,WFTools.Services"/>
      <add providerName="System.Data.OracleClient" type="WFTools.Services.Tracking.Ado.Oracle.OracleTrackingNameResolver,WFTools.Services"/>
      <add providerName="Oracle.DataAccess.Client" type="WFTools.Services.Odp.Tracking.OdpTrackingNameResolver,WFTools.Services.Odp"/>
      <add providerName="MySql.Data.MySqlClient" type="WFTools.Services.MySql.Tracking.MySqlTrackingNameResolver,WFTools.Services.MySql"/>
    </nameResolvers>
    <resourceAccessors>
      <add providerName="System.Data.SqlClient" type="WFTools.Services.Tracking.Ado.Sql.SqlTrackingResourceAccessor,WFTools.Services"/>
      <add providerName="Oracle.DataAccess.Client" type="WFTools.Services.Odp.Tracking.OdpTrackingResourceAccessor,WFTools.Services.Odp"/>
    </resourceAccessors>
  </wftools.services.tracking.ado>
  <connectionStrings>
    <!--
   <add name="SMTEntityFlowSysContext" connectionString="metadata=res://*/SMTEntityFlowSys.csdl|res://*/SMTEntityFlowSys.ssdl|res://*/SMTEntityFlowSys.msl;provider=EFOracleProvider;provider connection string=&quot;data source=SMTSAASDB;user id=smtflow;password=smtflow&quot;" providerName="System.Data.EntityClient"/>
    <add name="OracleConnection" providerName="System.Data.OracleClient" connectionString="Data Source=SMTSAASDB;user id=smtflowper;password=smtflowper;"/>
   -->
      
    <!--外网-->
      <add name="SMTEntityFlowSysContext" connectionString="metadata=res://*/SMTEntityFlowSys.csdl|res://*/SMTEntityFlowSys.ssdl|res://*/SMTEntityFlowSys.msl;provider=EFOracleProvider;provider connection string=&quot;data source=SMTSaas;user id=smtflow;password=smtflow&quot;" providerName="System.Data.EntityClient"/>
      <add name="OracleConnection" providerName="System.Data.OracleClient" connectionString="Data Source=SMTSaas;user id=smtflowper;password=smtflowper;"/>
      <add name="ContextOracleConnection" providerName="System.Data.OracleClient" connectionString="Data Source=SMTSaas;user id=smtflow;password=smtflow;"/>

      <!--83-->
      <!--<add name="SMTEntityFlowSysContext" connectionString="metadata=res://*/SMTEntityFlowSys.csdl|res://*/SMTEntityFlowSys.ssdl|res://*/SMTEntityFlowSys.msl;provider=EFOracleProvider;provider connection string=&quot;data source=TEST;user id=smtwf;password=smtwf&quot;" providerName="System.Data.EntityClient"/>
      <add name="OracleConnection" providerName="System.Data.OracleClient" connectionString="Data Source=TEST;user id=smtflowper;password=smtflowper;"/>
      <add name="ContextOracleConnection" providerName="System.Data.OracleClient" connectionString="Data Source=TEST;user id=SMTWF;password=SMTWF;"/>-->

  </connectionStrings>
  <appSettings>
    <add key="DataBaseType" value="Oracle"/>
    <add key="DALAssemblyPath" value="SMT.EntityFlowSys"/>
    <add key="DBContextName" value="SMTEntityFlowSysContext"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <!--Error log config start-->
    <add key="LoggerProvider" value="XMLLogger"/>
    <!--XMLLogger,DBLogger,TXTLogger-->
    <add key="LogRetrieveProvider" value="DBLogger"/>
    <add key="ErrorLogPath" value=""/>
    <!--没有指定路径将在工程dll文件的ErrorLog目录下-->
    <add key="SendErrorEmail" value="Yes"/>
    <add key="ErrorEmailSender" value="***@163.com"/>
    <add key="ErrorEmailReceiver" value="***@163.com"/>
    <add key="LogErrorToFile" value="Yes"/>
    <add key="TracePath" value="C:\Temp"/>
    <add key="TraceLevel" value="Debug,Warn"/>
    <add key="ConnectionString" value="Data Source=192.168.0.4;Initial Catalog=DBname;Integrated Security=SSPI;"/>
    <add key="SMTPServer" value="smtp.163.com"/>
    <add key="SMTPLogin" value="**@163.com"/>
    <add key="SMTPPassword" value="****"/>
    <add key="SMTPPort" value="25"/>
    <add key="AssemblyVersion" value="SMT.Foundation.Log,Entity,	FlashTrade,Core"/>
    <add key="IsFlowEngine" value="True"/>
  </appSettings>
  <system.web>
    <compilation debug="true"/>
    <securityPolicy>
      <trustLevel name="WSS_Medium" policyFile="C:\Program Files\Common Files\Microsoft Shared\Web Server Extensions\12\config\wss_mediumtrust.config"/>
      <trustLevel name="WSS_Minimal" policyFile="C:\Program Files\Common Files\Microsoft Shared\Web Server Extensions\12\config\wss_minimaltrust.config"/>
    </securityPolicy>
    <trust level="Full" originUrl=""/>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <!-- 部署服务库项目时，必须将配置文件的内容添加到 
  主机的 app.config 文件中。System.Configuration 不支持库的配置文件。-->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_PersonnelService1" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IEngineWcfGlobalFunction" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IEventTriggerProcess" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="CustomBinding_AgentServices">
          <binaryMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
            maxSessionSize="2048">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          </binaryMessageEncoding>
          <httpTransport manualAddressing="false" maxBufferPoolSize="524288"
            maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous"
            bypassProxyOnLocal="false" decompressionEnabled="true" hostNameComparisonMode="StrongWildcard"
            keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous"
            realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"
            useDefaultWebProxy="true" />
        </binding>
        <binding name="CustomBinding_PerformanceService">
          <binaryMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
            maxSessionSize="2048">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          </binaryMessageEncoding>
          <httpTransport manualAddressing="false" maxBufferPoolSize="524288"
            maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous"
            bypassProxyOnLocal="false" decompressionEnabled="true" hostNameComparisonMode="StrongWildcard"
            keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous"
            realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"
            useDefaultWebProxy="true" />
        </binding>
      </customBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IService1" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
          messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
          allowCookies="false">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://portal.smt-online.net/new/Services/OA/AgentServices.svc"
        binding="customBinding" bindingConfiguration="CustomBinding_AgentServices"
        contract="OAWS.AgentServices" name="CustomBinding_AgentServices" />
      <endpoint address="http://portal.smt-online.net/new/Services/HR/PerformanceService.svc"
        binding="customBinding" bindingConfiguration="CustomBinding_PerformanceService"
        contract="PerformanceServiceWS.PerformanceService" name="CustomBinding_PerformanceService" />
      <endpoint address="http://portal.smt-online.net/New/Services/HR/PersonnelService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_PersonnelService1"
        contract="PersonnelService.PersonnelService" name="BasicHttpBinding_PersonnelService1" />
      <endpoint address="http://localhost:4441/EngineWcfGlobalFunction.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEngineWcfGlobalFunction"
        contract="FlowEngineService.IEngineWcfGlobalFunction" name="BasicHttpBinding_IEngineWcfGlobalFunction" />
      <endpoint address="http://localhost:4441/EngineWcfGlobalFunction.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEventTriggerProcess"
        contract="FlowEngineService.IEventTriggerProcess" name="BasicHttpBinding_IEventTriggerProcess" />
    </client>
    <services>
      <service behaviorConfiguration="SMT.FlowWFService.ServiceBehavior" name="SMT.FlowWFService.Service">
        <endpoint address="" binding="wsHttpBinding" contract="SMT.FlowWFService.IService" bindingConfiguration="WSHttpBinding_IService1">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/Design_Time_Addresses/SMT.FlowWFService/Service/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="SMT.FlowWFService.ServiceBehavior">
          <!-- 为避免泄漏元数据信息，
          请在部署前将以下值设置为 false 并删除上面的元数据终结点  -->
          <serviceMetadata httpGetEnabled="True"/>
          <!-- 要接收故障异常详细信息以进行调试， 
          请将下值设置为 true。在部署前 
            设置为 false 以避免泄漏异常信息-->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
    <system.net>
        <settings>
            <servicePointManager expect100Continue="false"/>
        </settings>
    </system.net>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>

<!--
<client>
      <endpoint address="http://portal.smt-online.net/Services/System/PermissionService.svc"
        binding="customBinding" bindingConfiguration="CustomBinding_PermissionService"
        contract="PermissionService.PermissionService" name="CustomBinding_PermissionService" />
      <endpoint address="http://portal.smt-online.net/Services/SMTEngine/EngineWcfGlobalFunction.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEngineWcfGlobalFunction"
        contract="FlowEngineService.IEngineWcfGlobalFunction" name="BasicHttpBinding_IEngineWcfGlobalFunction" />
      <endpoint address="http://portal.smt-online.net/Services/OA/AgentServices.svc"
        binding="customBinding" bindingConfiguration="CustomBinding_AgentServices"
        contract="OAWS.AgentServices" name="CustomBinding_AgentServices" />
      <endpoint address="http://portal.smt-online.net/Services/HR/PersonnelService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_PersonnelService"
        contract="PersonnelWS.PersonnelService" name="BasicHttpBinding_PersonnelService" />
      <endpoint address="http://portal.smt-online.net/Services/HR/OrganizationService.svc"
        binding="customBinding" bindingConfiguration="CustomBinding_OrganizationService"
        contract="OrganizationService.OrganizationService" name="CustomBinding_OrganizationService" />
      <endpoint address="http://portal.smt-online.net/Services/HR/PerformanceService.svc"
        binding="customBinding" bindingConfiguration="CustomBinding_PerformanceService"
        contract="PerformanceServiceWS.PerformanceService" name="CustomBinding_PerformanceService" />
    </client>
-->
