<?xml version="1.0"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
     <!--ErrorLog配置开始 xml日志记录：XMLLogger,数据库日志记录：DBLogger,文本日志记录：TXTLogger-->
    <add key="LoggerProvider" value="XMLLogger" />
    <add key="LogRetrieveProvider" value="DBLogger" />    
    <add key="ErrorLogPath" value="" /><!--没有指定路径将在工程dll文件的ErrorLog目录?-->
    <add key="LogErrorToFile" value="Yes" />
    <add key="TracePath" value="C:\Temp" />
    <add key="TraceLevel" value="Debug,Warn" />
    <add key="TraceSalarySql" value="true" />
    <!--薪资结算，假期设置考勤初始化用到-->
    <add key="ConnectionString" value="data source=hxbak;User Id=smthrm;Password=oracle;" />
    <add key="isForHuNanHangXingSalary" value="false"/>
    <!--薪资结算用到-->
    <add key="SendErrorEmail" value="Yes" />
    <add key="ErrorEmailSender" value="xianghy@sinomaster.com" />
    <add key="ErrorEmailReceiver" value="55756016@163.com" />
    <add key="SMTPServer" value="mail.sinomaster.com" />
    <add key="SMTPLogin" value="xianghy@sinomaster.com" />
    <add key="SMTPPassword" value="smtyongjy2014" />
    <add key="SMTPPort" value="25" />
    <add key="AssemblyVersion" value="SMT.Foundation.Log,Entity, FlashTrade,Core" />
    <!--ErrorLog配置结束-->
  </appSettings>
  <connectionStrings>
    <!--<add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true"
      providerName="System.Data.SqlClient" />-->
    <add name="ConnectionString" connectionString="Data Source=smtsaasdb;Persist Security Info=True;User ID=smtdba;Password=oracle;Unicode=True"
      providerName="System.Data.OracleClient" />
    <add name="ConnectionString2" connectionString="Data Source=smtsaasdb;Persist Security Info=True;User ID=smtdba;Password=oracle;Unicode=True"
      providerName="System.Data.OracleClient" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />

    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>

    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="/" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>

    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>

  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_PersonnelService" closeTimeout="01:00:00"
          openTimeout="01:00:00" receiveTimeout="01:00:00" sendTimeout="01:00:00" />
        <binding name="BasicHttpBinding_AttendanceService" closeTimeout="01:00:00"
          openTimeout="01:00:00" receiveTimeout="01:00:00" sendTimeout="01:00:00" />
        <binding name="BasicHttpBinding_FBService" closeTimeout="01:00:00"
          openTimeout="01:00:00" receiveTimeout="01:00:00" sendTimeout="01:00:00" />
        <binding name="BasicHttpBinding_SalaryService" closeTimeout="01:00:00"
          openTimeout="01:00:00" receiveTimeout="01:00:00" sendTimeout="01:00:00" />
      </basicHttpBinding>
      <customBinding>
        <binding name="CustomBinding_PermissionService">
          <binaryMessageEncoding />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_OrganizationService">
          <binaryMessageEncoding />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_HRUpdateCheckStateServices">
          <binaryMessageEncoding />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_HrCommonService">
          <binaryMessageEncoding />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://222.240.218.88:8080/New/Services/System/PermissionService.svc"
        binding="customBinding" bindingConfiguration="CustomBinding_PermissionService"
        contract="PermissWS.PermissionService" name="CustomBinding_PermissionService" />
      <endpoint address="http://222.240.218.88:8080/New/Services/HR/PersonnelService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_PersonnelService"
        contract="PersonWS.PersonnelService" name="BasicHttpBinding_PersonnelService" />
      <endpoint address="http://222.240.218.88:8080/New/Services/HR/OrganizationService.svc"
        binding="customBinding" bindingConfiguration="CustomBinding_OrganizationService"
        contract="OrgWS.OrganizationService" name="CustomBinding_OrganizationService" />
      <endpoint address="http://222.240.218.88:8080/New/Services/HR/HRUpdateCheckStateServices.svc"
        binding="customBinding" bindingConfiguration="CustomBinding_HRUpdateCheckStateServices"
        contract="HrUpdateWS.HRUpdateCheckStateServices" name="CustomBinding_HRUpdateCheckStateServices" />
      <endpoint address="http://222.240.218.88:8080/New/Services/FB/FBService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_FBService"
        contract="FBWS.FBService" name="BasicHttpBinding_FBService" />
      <endpoint address="http://222.240.218.88:8080/New/Services/HR/SalaryService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_SalaryService"
        contract="SalaryWS.SalaryService" name="BasicHttpBinding_SalaryService" />
      <endpoint address="http://222.240.218.88:8080/New/Services/HR/HrCommonService.svc"
        binding="customBinding" bindingConfiguration="CustomBinding_HrCommonService"
        contract="HrCommonSV.HrCommonService" name="CustomBinding_HrCommonService" />
      <endpoint address="http://222.240.218.88:8080/New/Services/HR/AttendanceService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_AttendanceService"
        contract="AttWS.AttendanceService" name="BasicHttpBinding_AttendanceService" />
    </client>
  </system.serviceModel>
</configuration>
