<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Domain.Properties.Settings.AsdLyncConnectionString" connectionString="Data Source=127.0.0.1;Initial Catalog=AsdLync;User ID=smtadmin;Password=smtadmin" providerName="System.Data.SqlClient"/>
        <add name="Asd.Award.Domain.Properties.Settings.AsdLyncConnectionString" connectionString="Data Source=127.0.0.1;Initial Catalog=AsdLync;User ID=smtadmin;Password=smtadmin" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
