<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="TMAwardEntities" connectionString="metadata=res://*/TMAward.csdl|res://*/TMAward.ssdl|res://*/TMAward.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=127.0.0.1;user id=root;password=smt123456;persistsecurityinfo=True;database=TMAward&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>