<?xml version="1.0" encoding="utf-8" ?>
<root>
    <item companycode="SMT" savepath="C:\文件上传\{0}\{1}\{2}" companyname="神州通在线有限公司"   fileurl="暂时没用" thumbnailurl="暂时没用" maxnumber="2" maxsize="2.MB" uploadspeed="52428800"/>
  <item companycode="aa" savepath="C:\文件上传\{0}\{1}\{2}" companyname="神州通在线有限公司"   fileurl="暂时没用" thumbnailurl="暂时没用" maxnumber="2" maxsize="200.MB" uploadspeed="52428800"/>
  <!--<item companycode="aa" savepath="\\172.16.1.57\fileupload\{0}\{1}\{2}" companyname="神州通在线有限公司"   fileurl="暂时没用" thumbnailurl="暂时没用" maxnumber="2" maxsize="200.MB" uploadspeed="52428800"/>-->
  <item companycode="bac05c76-0f5b-40ae-b73b-8be541ed35ed" savepath="C:\文件上传\{0}\{1}\{2}" companyname="深圳市神州通在线科技有限公司"   fileurl="" thumbnailurl="" maxnumber="2" maxsize="2.MB" uploadspeed="52428800"/>
  <item companycode="cafdca8a-c630-4475-a65d-490d052dca36" savepath="C:\文件上传\{0}\{1}\{2}" companyname="疾风科技"   fileurl="" thumbnailurl="" maxnumber="2" maxsize="2.MB" uploadspeed="52428800"/>
    <item companycode="USA" savepath="\\172.30.40.229\temp\{0}\{1}\{2}" companyname="神州通在线有限公司"   fileurl="暂时没用" thumbnailurl="暂时没用" maxnumber="2" maxsize="2.MB" uploadspeed="52428800"/>
</root>