<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <appSettings>
    <add key="DownLoadUrl" value="http://localhost:10918/Download.aspx"/>
    <!--<add key="DownLoadUrl" value="http://172.16.1.57/New/Services/FileUploadService/Download.ashx"/>-->
    <!--<add key="DownLoadUrl" value="http://172.16.1.57/New/Services/FileUploadService/Download.aspx"/>-->
    <add key="OracleConnectString" value="data source=smtsaasdb57;User Id=smtfileupload;password=smtfileupload;Integrated Security=no;"/>
    
    <add key="DataBaseType" value="Oracle"/>
    <add key="DALAssemblyPath" value="SMT_FU_EFModel"/>
    <add key="DBContextName" value="SMT_FILEUPLOAD_EFModelContext"/>
    <add key="FileUploadUser" value="liujianxng/user1,123456"/>

    <!--xml日志记录：XMLLogger,数据库日志记录：DBLogger,文本日志记录：TXTLogger-->
    <add key="LoggerProvider" value="XMLLogger" />
    <add key="LogRetrieveProvider" value="DBLogger" />
    <!--没有指定路径将在工程dll文件的ErrorLog目录?-->
    <add key="ErrorLogPath" value="" />
    <add key="LogErrorToFile" value="Yes" />
    <add key="TracePath" value="C:\Temp" />
    <add key="TraceLevel" value="Debug,Warn" />
    <add key="ConnectionString" value="data source=smtsaasdb57;User Id=smtfileupload;Password=smtfileupload;Integrated Security=no;" />
    <!--Send Error Mail Config-->
    <add key="SendErrorEmail" value="No" />
    <!--Yes/No-->
    <add key="ErrorEmailSender" value="xianghy@sinomaster.com" />
    <add key="ErrorEmailReceiver" value="xianghy@sinomaster.com" />
    <add key="SMTPServer" value="mail.sinomaster.com" />
    <add key="SMTPLogin" value="xianghy@sinomaster.com" />
    <add key="SMTPPassword" value="******" />
    <add key="SMTPPort" value="25" />
    <add key="AssemblyVersion" value="SMT.Foundation.Log,Entity, FlashTrade,Core" />
    <!--xml日志记录记录结束-->
  </appSettings>
  <connectionStrings>
    <add name="SMT_FILEUPLOAD_EFModelContext" connectionString="provider=EFOracleProvider;&#xA;  metadata=res://*/SMT_FILEUPLOAD_EFModel.csdl|res://*/SMT_FILEUPLOAD_EFModel.ssdl|res://*/SMT_FILEUPLOAD_EFModel.msl;&#xA; Provider Connection String='data source=smtsaasdb57;user id=smtfileupload;password=smtfileupload'" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <customBinding>
        <binding name="SMT.FileUpLoad.Host.FileUpLoad.customBinding0">
          <binaryMessageEncoding>
            <readerQuotas maxArrayLength="2097152" />
          </binaryMessageEncoding>
          <httpTransport maxReceivedMessageSize="2147483647" />
        </binding>
        <binding name="SMT.FileUpLoad.Host.Demo.customBinding0">
          <binaryMessageEncoding />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
    <services>
      <service name="SMT.FileUpLoad.Service.UploadService">
        <endpoint address="" binding="customBinding" bindingConfiguration="SMT.FileUpLoad.Host.FileUpLoad.customBinding0"
          contract="SMT.FileUpLoad.Service.IUploadService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="SMT.FileUpLoad.Host.Demo">
        <endpoint address="" binding="customBinding" bindingConfiguration="SMT.FileUpLoad.Host.Demo.customBinding0"
          contract="SMT.FileUpLoad.Host.Demo" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
  </system.serviceModel>
</configuration>
