<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--是否执行更新审核状态 0：执行 1：不执行-->
    <add key="IsNeedUpdateAudit" value="0" />

    <add key="LogPath" value="D:\NewFlowEngineLog"/>

    <add key="LimitPageSize" value="200"/>
    <!--是否执行更新审核状态 0：执行 1：不执行-->
    <add key="IsNeedUpdateAudit" value="0"/>
    <add key="MailAddress" value="smtonlinemail@sinomaster.com"/>
    <add key="MailPwd" value="adminmail"/>
    <add key="MailServerAddress" value="mail.sinomaster.com"/>
    <add key="MailServerPort" value="25"/>
    <add key="MailTitle" value="协同办公系统提醒: {0}!"/>
    <add key="MailUrl" value="http://portal.smt-online.net/"/>
    <add key="MailTempletePath" value="D:\SMTOnlinePortal\New\Services\SMTEngine\MailTemplete.txt"/>

    <add key="HR" value="http://172.16.1.57/New/Services/HR/"/>
    <add key="RM" value="http://172.16.1.57/New/Services/HR/"/>
    <add key="OA" value="http://172.16.1.57/New/Services/OA/"/>
    <add key="FB" value="http://172.16.1.57/New/Services/FBAnalysisService/"/>
    <add key="EDM" value="http://172.16.1.57/New/Services/EDM/"/>

    <add key="RTXTitle" value="协同办公系统提醒"/>

    <add key="PageNumber" value="15"/>
    <add key="MailRtxTimer" value="5" />
    <!--邮件、Rtx发送时间间隔 单位秒-->
    <add key="TriggerTimer" value="50" />
    <!--服务调用 短信发送时间间隔 单位秒-->
  </appSettings>
  <connectionStrings>
    <add name="WorkFlowConnString" connectionString="oracle:data source=96;user id=smtwf;password=oracle;"/>
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IMessageService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>

        <binding name="BasicHttpBinding_ISMSService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="64" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_PersonnelService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="64" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="CustomBinding_OrganizationService">
          <binaryMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
            maxSessionSize="2048">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          </binaryMessageEncoding>
          <httpTransport manualAddressing="false" maxBufferPoolSize="524288"
            maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous"
            bypassProxyOnLocal="false" decompressionEnabled="true" hostNameComparisonMode="StrongWildcard"
            keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous"
            realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"
            useDefaultWebProxy="true" />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://10.10.0.95/New/Services/HR/OrganizationService.svc" binding="customBinding" bindingConfiguration="CustomBinding_OrganizationService" contract="OrganizationWCF.OrganizationService" name="CustomBinding_OrganizationService" />
      <endpoint address="http://portal.smt-online.net/New/Services/SMS/SMSService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISMSService" contract="SMSService.ISMSService" name="BasicHttpBinding_ISMSService" />
      <endpoint address="http://10.10.0.95/New/Services/HR/PersonnelService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_PersonnelService" contract="PersonnelService.PersonnelService" name="BasicHttpBinding_PersonnelService" />
      <endpoint address="http://172.16.1.123/imservice/MessageService.svc"
                 binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMessageService"
                 contract="SMTIM.IMessageService" name="BasicHttpBinding_IMessageService" />
    </client>
  </system.serviceModel>
  <system.net>
    <settings>
      <servicePointManager expect100Continue="false" />
    </settings>
  </system.net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>