<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--xml日志记录：XMLLogger,数据库日志记录：DBLogger,文本日志记录：TXTLogger-->
    <add key="LoggerProvider" value="XMLLogger" />
    <add key="LogRetrieveProvider" value="DBLogger" />
    <!--没有指定路径将在工程dll文件的ErrorLog目录下-->
    <add key="ErrorLogPath" value="" />
    <add key="LogErrorToFile" value="Yes" />
    <add key="TracePath" value="C:\Temp" />
    <add key="TraceLevel" value="Debug,Warn" />
    <add key="ConnectionString" value="Data Source=192.168.0.4;Initial Catalog=MobileCat;Integrated Security=SSPI;" />
    <!--Send Error Mail Config-->
    <add key="SendErrorEmail" value="No" />
    <!--Yes/No-->
    <add key="ErrorEmailSender" value="xianghy@sinomaster.com" />
    <add key="ErrorEmailReceiver" value="xianghy@sinomaster.com" />
    <add key="SMTPServer" value="mail.sinomaster.com" />
    <add key="SMTPLogin" value="xianghy@sinomaster.com" />
    <add key="SMTPPassword" value="******" />
    <add key="SMTPPort" value="25" />
    <add key="AssemblyVersion" value="SMT.Foundation.Log,Entity,	FlashTrade,Core" />
  </appSettings>
</configuration>