<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="rollingFile" />
    </root>
    <appender name="rollingFile" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value="log.txt" />
      <param name="AppendToFile" value="false" />
      <param name="RollingStyle" value="Date" />
      <param name="DatePattern" value="yyyy.MM.dd" />
      <param name="StaticLogFileName" value="true" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
        <param name="Header" value="&#xD;&#xA;----------------------header--------------------------&#xD;&#xA;" />
        <param name="Footer" value="&#xD;&#xA;----------------------footer--------------------------&#xD;&#xA;" />
      </layout>
    </appender>
    <appender name="consoleApp" type="log4net.Appender.ConsoleAppender,log4net">
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
      </layout>
    </appender>
    <logger name="Log4NetTest.LogTest">
      <level value="DEBUG" />
      <appender-ref ref="rollingFile" />
      <appender-ref ref="coloredConsoleApp" />
      <appender-ref ref="SystemEvent" />
    </logger>
  </log4net>
  <appSettings>
    <add key="ElapsedHour" value="1" />
    <add key="clockIp" value="10.10.4.253,10.10.23.2,10.10.8.253,10.10.16.254,10.10.2.253,10.10.8.251,10.10.6.205" />
    <add key="newDevice" value="10.10.8.253,10.10.16.254,10.10.2.253,10.10.6.205"/>
    <add key="companyID" value="bac05c76-0f5b-40ae-b73b-8be541ed35ed(10.10.4.253),703dfb3c-d3dc-4b1d-9bf0-3507ba01b716(10.10.23.2),72b3f128-6cf0-498c-8e70-89d0d66403f2(10.10.8.253),3cd50b8b-8288-465b-826f-58d1dbe43464(10.10.16.254),4da803fc-08ad-426b-82e2-f25f3192f438(10.10.2.253),7a613fc2-4431-4a46-ae01-232222e9fcb5(10.10.8.251),d808f8f0-f632-49e7-a41b-238c26bd98bd(10.10.6.205),142e5b31-4596-4a90-9be6-e422c9784810(10.10.8.253)" />
    <add key="clockPort" value="4370" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!--测试用-->
    <add key="TestMode" value="" />    <!--是否开启测试模式true为开启-->
    <add key="TestInterval" value="1000" /><!--定时器运行时间间隔，单位为毫秒-->
    <add key="TestCompanyIp" value="10.10.8.253" /><!--测试公司id及ip-->
    <add key="TestElapsedHour" value="14" /><!--测试触发时间-->
    <!--测试End-->
    <!--ErrorLog配置开始 xml日志记录：XMLLogger,数据库日志记录：DBLogger,文本日志记录：TXTLogger-->
    <add key="LoggerProvider" value="XMLLogger" />
    <add key="LogRetrieveProvider" value="DBLogger" />
    <add key="ErrorLogPath" value="" />
    <add key="LogErrorToFile" value="Yes" />
    <add key="TracePath" value="C:\Temp" />
    <add key="TraceLevel" value="Debug,Warn" />
    <add key="ConnectionString" value="data source=smtsaasdb;User Id=smthrm;Password=smthrm880122;" />
    <add key="TraceSalarySql" value="true" />
    <add key="SendErrorEmail" value="No" />
    <add key="ErrorEmailSender" value="xianghy@sinomaster.com" />
    <add key="ErrorEmailReceiver" value="xianghy@sinomaster.com" />
    <add key="SMTPServer" value="mail.sinomaster.com" />
    <add key="SMTPLogin" value="xianghy@sinomaster.com" />
    <add key="SMTPPassword" value="******" />
    <add key="SMTPPort" value="25" />
    <add key="AssemblyVersion" value="SMT.Foundation.Log,Entity, FlashTrade,Core" />
    <!--ErrorLog配置结束-->
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_AttendanceService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="01:30:00" sendTimeout="01:30:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://portal.smt-online.net/New/Services/HR/AttendanceService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_AttendanceService" contract="AttendanceWS.AttendanceService" name="BasicHttpBinding_AttendanceService" />
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>